{% extends base|default:"base/base.html" %}
{% block content %}
    <div class="grid grid-cols-8 gap-4">
        <div class="card col-span-2 border border-neutral">
            <div class="card-body">
                <ul class="menu w-full min-h-full gap-y-1"
                    hx-boost="true"
                    hx-target='div[data-hx-swap="content"]'
                    hx-swap="innerHTML"
                    hx-vals='{"onboarding_form_builder_structure": "True"}'>
                    <li>
                        <button hx-post="{% url 'api:onboarding:form_builder:inputs:new' form_uuid=form.uuid %}"
                                hx-target='div[data-hx-container="inputs"]'
                                hx-swap="beforeend">
                            <i class="fa fa-solid fa-plus"></i>
                            New Input
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-span-6" data-hx-swap="content">
            {% if page_template %}
                {% include page_template %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
