{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }"
      x-data="data()"
      lang="en">
{% include 'core/partials/base/_head.html' %}
<body>
<div class="flex min-h-screen items-center bg-gray-50 p-6 dark:bg-gray-900">
    <div
            class="mx-auto h-full max-w-4xl flex-1 overflow-hidden rounded-lg bg-white shadow-xl dark:bg-gray-800"
    >
        <div class="flex flex-col overflow-y-auto md:flex-row">
            <div class="h-32 md:h-auto md:w-1/2">
                <img
                        aria-hidden="true"
                        class="h-full w-full object-cover dark:hidden"
                        src="{% static 'img/login_image.jpg' %}"
                        alt=""
                />
                <img
                        aria-hidden="true"
                        class="hidden h-full w-full object-cover dark:block"
                        src="{% static 'img/login_image.jpg' %}"
                        alt=""
                />
            </div>
            <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
              {% csrf_token %}
                <form class="w-full group" method="post" novalidate>
                    <h1
                            class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
                    >
                        Login
                    </h1>
              <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">Email<span class="IF_INPUT_NOT_VALID:hidden hidden text-red-500">*</span></span>
                <input
                        name="email"
                        type="email"
                        class="mt-1 block w-full text-sm peer form-input focus:shadow-outline-purple focus:border-purple-400 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-300 dark:focus:shadow-outline-gray"
                        placeholder="jane@example.com"
                        required
                        pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                        value="{{ attempted_email }}"
                />
                <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
    Please enter a valid email address
  </span>
              </label>
              <label class="mt-4 block text-sm">
                <span class="text-gray-700 dark:text-gray-400">Password</span>
                <input
                        name="password"
                        type="password"
                        class="mt-1 block w-full text-sm peer form-input focus:shadow-outline-purple focus:border-purple-400 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-300 dark:focus:shadow-outline-gray"
                        placeholder="***************"
                        required
                        minlength="8"
                />
                <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                      Password should be at least 8 characters long
                </span>
              </label>

                    <!-- You should use a button here, as the anchor is only used for the example  -->
              <button
                      type="submit"
                      class="group-invalid:pointer-events-none mt-4 block w-full rounded-lg border border-transparent bg-purple-600 px-4 py-2 text-center text-sm font-medium leading-5 text-white group-invalid:opacity-30 transition-colors duration-150 group-invalid:disabled hover:bg-purple-700 focus:shadow-outline-purple focus:outline-none active:bg-purple-600"
              >
  Log in
</button>

                    <hr class="my-8"/>

                            {% include 'core/components/buttons/brand-button.html' with disabled=True brand="Github" %}
              {% include 'core/components/buttons/brand-button.html' with disabled=True brand="Microsoft" %}


                    <p class="mt-4">
                        <a
                                class="text-sm font-medium text-purple-600 hover:underline dark:text-purple-400"
                                href="{% url 'login forgot_password' %}"
                        >
                            Forgot your password?
                        </a>
                    </p>
                    <p class="mt-1">
                        <a
                                class="text-sm font-medium text-purple-600 hover:underline dark:text-purple-400"
                                href="{% url 'login create_account' %}"
                        >
                            Create account
                        </a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
