{% for invoice in invoices %}
    <tr>
        <td>{{ invoice.id }}</td>
        <td>
            {{ invoice.date_due | date:"d/m/Y" }}
        </td>
        <td>
            <div class="flex items-center text-sm">
                <div>
                    <p class="font-semibold">{{ invoice.client.name | default:"No name" }}</p>
                </div>
            </div>
        </td>
        <td>
            £{{ invoice.get_total_price }}
        </td>
        <td>
        <span class="badge badge-square rounded
        {% if invoice.payment_status == "sent" %}
        badge-outline text-gray-400 border-gray-600
        {% elif invoice.payment_status == "seen" %}
        badge-outline text-white border-white
        {% else %}
        badge-outline-success
        {% endif %}
">
         {{ invoice.payment_status | default:"sent" | title }}
        </span>
        </td>
        <td colspan="2">
            <div class="flex flex-wrap gap-2">
                <div class="relative flex group">
                    <button class="btn btn-solid-success btn-sm">
                        {% include "core/components/icon.html" with icon="pencil" %}
                    </button>
                    <span class="absolute m-4 mx-auto -translate-y-8 scale-100 rounded-md opacity-0 transition-opacity badge badge-flat-success left-1/2-translate-x-1/2 group-hover:opacity-100">
                    Edit
                </span>
                </div>
                <div class="relative flex group">
                    <button class="btn btn-solid-error btn-sm">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <span class="absolute m-4 mx-auto -translate-y-8 scale-100 rounded-md opacity-0 transition-opacity badge badge-flat-error left-1/2-translate-x-1/2 group-hover:opacity-100">
                    Delete
                </span>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}
