{% extends 'core/pages/base.html' %}
{% block content %}
    <p class="text-white font-bold">{{ page }}</p>
    {# TODO SEARCH BAR #}
    <a class="btn btn-primary mb-4 btn-block" href="{% url 'invoices dashboard create' %}">
        {% include 'core/components/icon.html' with icon="file-invoice" tags="me-2" %}
        Create Invoice
    </a>
    <div class="flex w-full overflow-x-auto">
        <table class="table-zebra table">
            <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Client Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Payment Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% include 'core/pages/invoices/dashboard/_rows.html' %}
            <tr>
                <td colspan="2"><span class="flex items-center col-span-3">
              Showing {{ invoices.count }} of {{ invoices.count }}
            </span></td>
                <td></td>
                <td colspan="3">
                    <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                        <div class="pagination pagination-compact pagination-bordered">
                            <input type="radio" name="pagination-3" id="pgn-7"/>
                            <label for="pgn-7" class="btn">1</label>
                            <input type="radio" name="pagination-3" id="pgn-8"/>
                            <label for="pgn-8" class="btn">2</label>
                            <input type="radio" name="pagination-3" id="pgn-9"/>
                            <label for="pgn-9" class="btn">3</label>
                            <input type="radio" name="pagination-3" id="pgn-9"/>
                        </div>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}