{% extends 'core/pages/base.html' %}
{% block content %}
    <p class="text-white font-bold">{{ page }}</p>
    {# TODO SEARCH BAR #}
    <a class="btn btn-primary mb-4 btn-block" href="{% url 'invoices dashboard create' %}">
        {% include 'core/components/icon.html' with icon="file-invoice" tags="me-2" %}
        Create Invoice
    </a>
    <div class="flex w-full overflow-x-auto">
        <table class="table-zebra table">
            <thead>
            <tr>
                <th>
                    Invoice ID
                </th>
                <th>
                    <div class="dropdown border-none">
                        <label tabindex="0" class="border-none">
                            Date
                            <i class="fa-solid fa-caret-down border-none pt-1 pl-1/2"></i>
                        </label>
                        <div class="dropdown-menu border-none">
                            <a class="dropdown-item text-sm border-none">Actions</a>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="dropdown border-none">
                        <label tabindex="0" class="border-none">
                            Client Name
                            <i class="fa-solid fa-caret-down border-none pt-1 pl-1/2"></i>
                        </label>
                        <div class="dropdown-menu border-none">
                            <a class="dropdown-item text-sm border-none">Actions</a>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="dropdown border-none">
                        <label tabindex="0" class="border-none">
                            Amount
                            <i class="fa-solid fa-caret-down border-none pt-1 pl-1/2"></i>
                        </label>
                        <div class="dropdown-menu border-none">
                            <a class="dropdown-item text-sm border-none">Actions</a>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="dropdown border-none">
                        <label tabindex="0" class="border-none">
                            Payment Status
                            <i class="fa-solid fa-caret-down border-none pt-1 pl-1/2"></i>
                        </label>
                        <div class="dropdown-menu border-none">
                            <a class="dropdown-item text-sm border-none">Actions</a>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="dropdown border-none">
                        <label tabindex="0" class="border-none">
                            Actions
                            <i class="fa-solid fa-caret-down border-none pt-1 pl-1/2"></i>
                        </label>
                        <div class="dropdown-menu border-none">
                            <a class="dropdown-item text-sm border-none">Actions</a>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="dropdown border-none">
                        <label tabindex="0" class="border-none">
                            Sort
                            <i class="fa-solid fa-caret-down border-none pt-1 pl-1/2"></i>
                        </label>
                        <div class="dropdown-menu border-none">
                            <a class="dropdown-item text-sm border-none">Invoice ID</a>
                            <a class="dropdown-item text-sm border-none">Date</a>
                            <a class="dropdown-item text-sm border-none">Client Name</a>
                            <a class="dropdown-item text-sm border-none">Amount</a>
                            <a class="dropdown-item text-sm border-none">Payment Status</a>
                            <a class="dropdown-item text-sm border-none">Actions</a>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% include 'core/pages/invoices/dashboard/_rows.html' %}
            <tr>
                <td colspan="2"><span class="flex items-center col-span-3">
              Showing {{ invoices.count }} of {{ invoices.count }}
            </span></td>
                <td></td>
                <td colspan="4">
                    <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                        <div class="pagination pagination-compact pagination-bordered">
                            <input type="radio" name="pagination-3" id="pgn-7"/>
                            <label for="pgn-7" class="btn">1</label>
                            <input type="radio" name="pagination-3" id="pgn-8"/>
                            <label for="pgn-8" class="btn">2</label>
                            <input type="radio" name="pagination-3" id="pgn-9"/>
                            <label for="pgn-9" class="btn">3</label>
                            <input type="radio" name="pagination-3" id="pgn-9"/>
                        </div>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}