<div class="group flex relative">
    <a {% if href %}href="{% url href %}"{% endif %} title="{{ action | title }}" data-te-toggle="tooltip" class="flex items-center justify-between rounded-lg px-2 py-2 text-sm font-medium
                    leading-5 text-purple-600 focus:shadow-outline-gray focus:outline-none border border-gray-700
                     hover:border-gray-400 dark:bg-gray-700 dark:text-gray-400" aria-label="Edit"
            >
                {% include "components/icon.html" with icon=icon %}
    </a>
    <span class="group-hover:opacity-100 transition-opacity bg-yellow-800 py-1 scale-75 px-2 text-sm text-gray-100 rounded-md absolute left-1/2
                -translate-x-1/2 -translate-y-8 opacity-0 m-4 mx-auto">
        {{ action | title }}
    </span>
</div>