django-mathfilters
pytz
django
gunicorn
requests
google-api-core==2.11.1
google-api-python-client==2.97.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.60.0
oauthlib==3.2.2
django-sendgrid-v5
mariadb
django-environ
django-extensions
social-auth-app-django
mysqlclient
python-dateutil
django-ratelimit
aiohttp
workalendar
django-htmlmin
python-memcached
django-htmx
django-debug-toolbar
pytailwindcss
mysqlclient