# django
django==4.2.7
gunicorn
# db
mysqlclient==2.2.0
mysqlclient
mariadb==1.1.8
# django apps
social-auth-app-django==5.4.0
django-sendgrid-v5
django-environ==0.11.2
django-extensions==3.2.3
python-dateutil
django-mathfilters
django-ratelimit
django-htmlmin
python-memcached
django-htmx
django-login-required-middleware
django-debug-toolbar
# markdown
django-markdownify
bleach
# other stuff
oauthlib==3.2.2
boto3==1.28.73
django-storages==1.14.2
Pillow==10.1.0
# test
model_bakery