<h2 class="text-center text-3xl mt-8">Reminders</h2>
<div class="w-full p-6 my-8 shadow-xl card bg-base-100">
    <div class="grid w-full grid-cols-3 text-xl font-medium">
        <div>
            <a hx-get="{% comment %}{% url 'api:finance:invoices:single:reminders:fetch' invoice_id=invoice.id %}{% endcomment %}"
               hx-trigger="click"
               hx-swap="outerHTML"
               hx-target='tbody[data-hx-swap="reminders"]'
               hx-indicator="this"
               class="float-left btn btn-outline btn-square btn-white me-3 loading-htmx">
                <span class="loading-htmx-text">
                    <i class="fa-solid fa-rotate-right"></i>
                </span>
                <span class="loading loading-spinner loading-htmx-loader"></span>
            </a>
        </div>
        <h1 class="text-center">View Reminders</h1>
        <div>
            <button class="float-right btn btn-outline btn-primary me-3"
                    onclick="modal_create_reminder.showModal();"
                    hx-get=" {% url "api:base:modal retrieve with context" modal_name="create_reminder" context_type="invoice_reminder" context_value=invoice.id %}"
                    hx-trigger="click once"
                    hx-swap="beforeend"
                    hx-target="#modal_container">
                <i class="fa-solid fa-calendar-plus hidden md:block mr-2"></i>
                Create Reminder
            </button>
        </div>
    </div>
    <div class="divider"></div>
    <table class="mt-3 table w-full">
        <thead>
            <tr hx-swap="outerHTML"
                hx-target='tbody[data-hx-swap="reminders"]'
                hx-indicator=""
                hx-include="#filter_reminders_list_storage">
                <th>ID</th>
                <th>
                    <div class="dropdown"
                         data-filter-type="reminder_type"
                         hx-vals='{"filter_type": "reminder_type"}'>
                        <label tabindex="0" class="border-none">
                            Due Type
                            <i class="border-none pt-1 fa-solid fa-caret-down pl-1/2"></i>
                        </label>
                        <ul class="dropdown-content">
                            <h2 class="menu-title">Due Type</h2>
                            <div class="-mt-2 -mb-1 divider"></div>
                            <li data-filter-by="before_due">
                                <button class="border-none text-sm dropdown-item"
                                        hx-get="{% comment %}{% url "api:finance:invoices:single:reminders:fetch" invoice_id=invoice.id %}{% endcomment %}"
                                        name="filter"
                                        value="before_due">Before Due</button>
                            </li>
                            <li data-filter-by="after_due">
                                <button class="border-none text-sm dropdown-item"
                                        hx-get="{% comment %}{% url "api:finance:invoices:single:reminders:fetch" invoice_id=invoice.id %}{% endcomment %}"
                                        name="filter"
                                        value="after_due">After Due</button>
                            </li>
                            <li data-filter-by="on_overdue">
                                <button class="border-none text-sm dropdown-item"
                                        hx-get="{% comment %}{% url "api:finance:invoices:single:reminders:fetch" invoice_id=invoice.id %}{% endcomment %}"
                                        name="filter"
                                        value="on_overdue">On overdue day</button>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-hx-swap="reminders"
               hx-swap="outerHTML"
               hx-trigger="load"
               hx-get="{% comment %}{% url "api:finance:invoices:single:reminders:fetch" invoice_id=invoice.id %}{% endcomment %}">
        </tbody>
    </table>
</div>
