{% load humanize %}
{% load mathfilters %}
{% load feature_enabled %}
{% load common_children_filter from listfilters %}
{% feature_enabled "isInvoiceSchedulingEnabled" as schedule_invoices_enabled %}
<tbody id="table_body">
    {% for invoiceProfile in page.object_list %}
        <tr class="hover cursor-pointer"
            hx-trigger="click"
            hx-boost="true"
            hx-target='div[data-hx-swap="content"]'
            hx-swap="innerHTML"
            hx-vals='{"invoice_structure_main": "True"}'
            hx-push-url="{% url "finance:invoices:recurring:overview" invoice_profile_id=invoiceProfile.id %}"
            hx-get="{% url "finance:invoices:recurring:overview" invoice_profile_id=invoiceProfile.id %}">
            <td class="link link-primary no-underline">
                <a href="{% url "finance:invoices:recurring:overview" invoice_profile_id=invoiceProfile.id %}">{{ invoiceProfile.id }}</a>
            </td>
            <td>{{ invoiceProfile.end_date | date:"d/m/Y" | default:"never" }}</td>
            {% with cli_name=invoiceProfile.client_to.name|default:invoiceProfile.client_name %}
                <td td-value="{{ cli_name | default_if_none:'No Client' }}">
                    <div class="flex items-center text-sm">
                        <div>
                            {% if cli_name %}
                                <p class="font-semibold">{{ cli_name }}</p>
                            {% else %}
                                <p class="font-thin">No Client</p>
                            {% endif %}
                        </div>
                    </div>
                </td>
            {% endwith %}
            <td td-value="{{ invoiceProfile.get_total_price | default_if_none:0 }}">
                {{ invoiceProfile.get_currency_symbol }}{{ invoiceProfile.get_total_price | default_if_none:0 | floatformat:2 | intcomma }}
            </td>
            <td td-value="{{ invoiceProfile.status }}">
                {% include "pages/invoices/recurring/dashboard/_status_badge.html" with status=invoiceProfile.status inv_id=invoiceProfile.id %}
            </td>
            <td colspan="2"
                onclick="const e = arguments[0] || window.event; e.stopPropagation();"
                class="cursor-default">
                {# The if statement for dropdown top goes as follows #}
                {# Use dropdown on top if these: #}
                {# - is last item           (and not first item) (and more than 4 items) #}
                <div class="dropdown dropdown-left {% if forloop.last and invoices.count > 4 %}dropdown-top{% endif %}">
                    <label tabindex="0" class="btn btn-primary btn-outline btn-sm">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </label>
                    <ul tabindex="0"
                        class="dropdown-content z-[1] menu wp-2 shadow-2xl bg-base-200 border border-base-300 rounded-box w-52">
                        <li hx-boost="true">
                            <a href="{% url "finance:invoices:recurring:overview" invoice_profile_id=invoiceProfile.id %}">
                                <i class="fa-solid fa-eye"></i>
                                Overview
                            </a>
                        </li>
                        {#                    <li>#}
                        {#                        <a href="{% url "finance:invoices:single:preview" invoice_id=invoiceProfile.id %}">#}
                        {#                            <i class="fa-solid fa-file-pdf"></i>#}
                        {#                            Preview#}
                        {#                        </a>#}
                        {#                    </li>#}
                        {#                    <li>#}
                        {#                        <a href="{% url "finance:invoices:single:manage_access" invoice_id=invoiceProfile.id %}">#}
                        {#                            <i class="fa-solid fa-key"></i>#}
                        {#                            Manage Access#}
                        {#                        </a>#}
                        {#                    </li>#}
                        <li>
                            <a href="{% url "finance:invoices:recurring:edit" invoice_profile_id=invoiceProfile.id %}">
                                <i class="fa-solid fa-pencil"></i>
                                Edit
                            </a>
                        </li>
                        <li>
                            <button hx-delete="{% url 'api:finance:invoices:recurring:delete' %}"
                                    hx-target="closest tr"
                                    hx-confirm="Are you sure you would like to delete invoice recurring profile #{{ invoiceProfile.id }}?"
                                    hx-vals='{"invoice_profile": "{{ invoiceProfile.id }}" }'>
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% empty %}
        <td colspan="100%" class="text-center">No Invoices Found</td>
    {% endfor %}
    {% if page.has_other_pages %}
        <tr>
            <td>
                <div class="join">
                    {% if page.has_previous %}
                        <button class="join-item btn"
                                hx-swap="outerHTML"
                                hx-target="#table_body"
                                hx-indicator=""
                                hx-get="{% url "api:finance:invoices:recurring:fetch" %}?page={{ page.previous_page_number }}">
                            «
                        </button>
                    {% else %}
                        <button class="join-item btn">
                            <i class="fa fa-x w-2 h-2"></i>
                        </button>
                    {% endif %}
                    <button class="join-item btn">Page {{ page.number }}</button>
                    {% if page.has_next %}
                        <button class="join-item btn"
                                hx-swap="outerHTML"
                                hx-target="#table_body"
                                hx-indicator=""
                                hx-get="{% url "api:finance:invoices:recurring:fetch" %}?page={{ page.next_page_number }}">
                            »
                        </button>
                    {% else %}
                        <button class="join-item btn">
                            <i class="fa fa-x w-2 h-2"></i>
                        </button>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endif %}
</tbody>
{% for option in all_sort_options %}
    <div hx-swap-oob="innerHTML:li[data-sort='{{ option }}'] button">
        {% if sort == option or sort == "-"|add:option %}<i class="fa fa-solid fa-sort"></i>{% endif %}
        {% if option == "status" %}
            Status
        {% elif option == "end_date" %}
            Date
        {% elif option == "amount" %}
            Amount
        {% else %}
            ID
        {% endif %}
    </div>
{% endfor %}
<div hx-swap-oob="innerHTML:#page_storage">
    <input type="hidden" name="page" value="{{ page.number }}">
</div>
<div hx-swap-oob='innerHTML:[data-oob="recurring-invoices-title"]'>
    Recurring Invoices - Showing {{ page.object_list.count }} of
    {{ paginator.count }}
</div>
