{% load humanize %}
{% load mathfilters %}
{% load feature_enabled %}
{% load common_children_filter from listfilters %}
{% feature_enabled "isInvoiceSchedulingEnabled" as schedule_invoices_enabled %}
<tbody id="table_body">
    {% for invoiceSet in page.object_list %}
        <tr class="hover cursor-pointer"
            hx-trigger="click"
            hx-boost="true"
            hx-target='div[data-hx-swap="content"]'
            hx-swap="innerHTML"
            hx-vals='{"invoice_structure_main": "True"}'
            hx-push-url="{% url "invoices:recurring:overview" invoice_set_id=invoiceSet.id %}"
            hx-get="{% url "invoices:recurring:overview" invoice_set_id=invoiceSet.id %}">
            <td class="link link-primary no-underline">
                <a href="{% url "invoices:recurring:overview" invoice_set_id=invoiceSet.id %}">{{ invoiceSet.id }}</a>
            </td>
            <td>{{ invoiceSet.end_date | date:"d/m/Y" | default:"never" }}</td>
            <td>
                <div class="flex items-center text-sm">
                    <div>
                        {% with cli_name=invoiceSet.client_to.name|default:invoiceSet.client_name %}
                            {% if cli_name %}
                                <p class="font-semibold">{{ cli_name }}</p>
                            {% else %}
                                <p class="font-thin">No Client</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </td>
            <td>
                {{ invoiceSet.get_currency_symbol }}{{ invoiceSet.get_total_price | default_if_none:0 | floatformat:2 | intcomma }}
            </td>
            <td>
                {% include "pages/invoices/recurring/dashboard/_status_badge.html" with status=invoiceSet.status inv_id=invoiceSet.id %}
            </td>
            <td colspan="2"
                onclick="const e = arguments[0] || window.event; e.stopPropagation();"
                class="cursor-default">
                {# The if statement for dropdown top goes as follows #}
                {# Use dropdown on top if these: #}
                {# - is last item           (and not first item) (and more than 4 items) #}
                <div class="dropdown dropdown-left {% if forloop.last and invoices.count > 4 %}dropdown-top{% endif %}">
                    <label tabindex="0" class="btn btn-primary btn-outline btn-sm">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </label>
                    <ul tabindex="0"
                        class="dropdown-content z-[1] menu wp-2 shadow-2xl bg-base-200 rounded-box w-52">
                        <li hx-boost="true">
                            <a href="{% url "invoices:recurring:overview" invoice_set_id=invoiceSet.id %}">
                                <i class="fa-solid fa-eye"></i>
                                Overview
                            </a>
                        </li>
                        {#                    <li>#}
                        {#                        <a href="{% url "invoices:single:preview" invoice_id=invoiceSet.id %}">#}
                        {#                            <i class="fa-solid fa-file-pdf"></i>#}
                        {#                            Preview#}
                        {#                        </a>#}
                        {#                    </li>#}
                        {#                    <li>#}
                        {#                        <a href="{% url "invoices:single:manage_access" invoice_id=invoiceSet.id %}">#}
                        {#                            <i class="fa-solid fa-key"></i>#}
                        {#                            Manage Access#}
                        {#                        </a>#}
                        {#                    </li>#}
                        <li>
                            <a href="{% url "invoices:recurring:edit" invoice_set_id=invoiceSet.id %}">
                                <i class="fa-solid fa-pencil"></i>
                                Edit
                            </a>
                        </li>
                        <li>
                            <button hx-delete="{% url 'api:invoices:single:delete' %}"
                                    hx-target="closest tr"
                                    hx-confirm="Are you sure you would like to delete invoice #{{ invoiceSet.id }}?"
                                    hx-vals='{"invoice": "{{ invoiceSet.id }}" }'>
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% empty %}
        <td colspan="100%" class="text-center">No Invoices Found</td>
    {% endfor %}
    <tr>
        <td>
            <div class="join">
                {% if page.has_previous %}
                    <button class="join-item btn"
                            hx-swap="outerHTML"
                            hx-target="#table_body"
                            hx-indicator=""
                            hx-include='#filter_list_storage, #sort_direction_storage, [name="sort"]'
                            hx-get="{% url "api:invoices:recurring:fetch" %}?page={{ page.previous_page_number }}">
                        «
                    </button>
                {% else %}
                    <button class="join-item btn">
                        <i class="fa fa-x w-2 h-2"></i>
                    </button>
                {% endif %}
                <button class="join-item btn">Page {{ page.number }}</button>
                {% if page.has_next %}
                    <button class="join-item btn"
                            hx-swap="outerHTML"
                            hx-target="#table_body"
                            hx-indicator=""
                            hx-include='#filter_list_storage, #sort_direction_storage, [name="sort"]'
                            hx-get="{% url "api:invoices:recurring:fetch" %}?page={{ page.next_page_number }}">
                        »
                    </button>
                {% else %}
                    <button class="join-item btn">
                        <i class="fa fa-x w-2 h-2"></i>
                    </button>
                {% endif %}
            </div>
        </td>
    </tr>
</tbody>
{% for option in all_sort_options %}
    <div hx-swap-oob="innerHTML:li[data-sort='{{ option }}'] button">
        {% if sort == option or sort == "-"|add:option %}<i class="fa fa-solid fa-sort"></i>{% endif %}
        {% if option == "status" %}
            Status
        {% elif option == "end_date" %}
            Date
        {% elif option == "amount" %}
            Amount
        {% else %}
            ID
        {% endif %}
    </div>
{% endfor %}
{% for option in all_sort_options %}
    <div hx-swap-oob="innerHTML:li[data-sort='{{ option }}'] button">
        {% if sort == option or sort == "-"|add:option %}<i class="fa fa-solid fa-sort"></i>{% endif %}
        {% if option == "status" %}
            Status
        {% elif option == "end_date" %}
            Date
        {% elif option == "amount" %}
            Amount
        {% else %}
            ID
        {% endif %}
    </div>
{% endfor %}
{% for filter_type, inner_filters in all_filters.items %}
    {% for filter in inner_filters %}
        {% comment %}
            This will set the checkmarks for each selected filter
        {% endcomment %}
        <div hx-swap-oob='innerHTML:ul[data-filter-type="{{ filter_type }}"] li[data-filter-by="{{ filter }}"] span'>
            {% if filter in selected_filters %}
                <i class="fa fa-check text-success"></i>
            {% else %}
                <i class="fa fa-check text-success hidden"></i>
            {% endif %}
        </div>
        {% comment %}
            This will set the little in brackets (x) number for how many filters are applied
        {% endcomment %}
        <div hx-swap-oob='innerHTML:li[data-filter-type="{{ filter_type }}"] details summary'>
            {% with FILTER_COUNT=inner_filters|common_children_filter:selected_filters|length %}
                {{ filter_type | title }}
                {% if FILTER_COUNT %}({{ FILTER_COUNT }}){% endif %}
            {% endwith %}
        </div>
    {% endfor %}
{% endfor %}
<div hx-swap-oob="innerHTML:#filter_list_storage">
    <input type="hidden"
           name="status_cancelled"
           value="{% if 'cancelled' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="status_paused"
           value="{% if 'paused' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="status_ongoing"
           value="{% if 'ongoing' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="amount_20+"
           value="{% if '20+' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="amount_50+"
           value="{% if '50+' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="amount_100+"
           value="{% if '100+' in selected_filters %}true{% endif %}">
</div>
<div hx-swap-oob="innerHTML:#sort_direction_storage">
    <input type="hidden" name="sort_direction" value="{{ sort_direction }}">
</div>
<div hx-swap-oob="innerHTML:#sort_direction_storage">
    <input type="hidden" name="sort_direction" value="{{ sort_direction }}">
</div>
<div hx-swap-oob="innerHTML:#amount_storage">
    <input type="hidden" name="amount_filter" value="{{ amount_filter }}">
</div>
<div hx-swap-oob="innerHTML:#page_storage">
    <input type="hidden" name="page" value="{{ page.number }}">
</div>
<div hx-swap-oob='innerHTML:[data-oob="recurring-invoices-title"]'>
    Recurring Invoices - Showing {{ page.object_list.count }} of
    {{ paginator.count }}
</div>
