{% if invoiceProfile.status == "paused" %}
    <button class="btn btn-outline"
            hx-swap="none"
            hx-post=" {% url "api:finance:invoices:recurring:edit status" invoice_profile_id=invoiceProfile.id status='unpause' %}">
        <i class="fa-solid fa-repeat"></i>
        Unpause Schedule
    </button>
{% elif invoiceProfile.status == "ongoing" %}
    <button class="btn btn-outline"
            hx-swap="none"
            hx-post=" {% url "api:finance:invoices:recurring:edit status" invoice_profile_id=invoiceProfile.id status='pause' %}">
        <i class="fa-solid fa-pause"></i>
        Pause Schedule
    </button>
{% endif %}
