{% include "pages/invoices/structure/toggler.html" %}
<div class="card bg-base-100 p-3 mb-2">
    <div class="flex items-center justify-between">
        <div class="flex items-center space-x-2">
            <div class="dropdown dropdown-right w-14">
                <div tabindex="0"
                     role="button"
                     class="btn btn-square btn-sm btn-outline loading-htmx"
                     id="sort-indicator">
                    <span class="loading-htmx-text"><i class="fa fa-solid fa-sort"></i></span>
                    <span id="currency_save_loading"
                          class="loading loading-spinner loading-htmx-loader"></span>
                </div>
                <ul class="dropdown-content menu z-[1] w-52 rounded-box bg-base-200 p-2 shadow"
                    tabindex="0"
                    mft-id="single_invoices_list_table">
                    <h2 class="menu-title">Sort by</h2>
                    <li data-sort="id">
                        <button class="dropdown-item" mft-sort-by="id">
                            <i class="fa-solid fa-sort"></i>
                            ID
                        </button>
                    </li>
                    <li data-sort="status">
                        <button class="dropdown-item" mft-sort-by="status">
                            <i class="fa-solid fa-sort"></i>
                            Status
                        </button>
                    </li>
                    <li data-sort="date_due">
                        <button class="dropdown-item" mft-sort-by="end_date">
                            <i class="fa-solid fa-sort"></i>
                            Date
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <h2 class="text-xl" data-oob="recurring-invoices-title">Recurring Invoices</h2>
        <div class="flex items-center space-x-2">
            {#            <a class="btn btn-sm btn-square btn-success">#}
            {#                <i class="fa fa-refresh"></i>#}
            {#            </a>#}
            <a class="btn btn-primary btn-sm"
               href="{% url 'finance:invoices:recurring:create' %}"
               hx-boost="true">
                <i class="fa-solid fa-file-invoice"></i>
                Create Recurring Profile
            </a>
        </div>
    </div>
</div>
<div class="card bg-base-100 p-6 h-screen">
    <form id="page_storage">
    </form>
    <div class="flex w-full h-full overflow-x-auto overflow-y-auto">
        <table class="table h-fit" id="recurring_invoices_list_table">
            <thead>
                <tr>
                    <th mft-col-name="id" mft-filter-type="searchable-amount">Profile ID</th>
                    <th mft-col-name="end_date" mft-filter-type="searchable">End Date</th>
                    <th mft-col-name="client_name" mft-filter-type="searchable">Client Name</th>
                    <th mft-col-name="amount" mft-filter-type="searchable-amount">Amount</th>
                    <th mft-col-name="status"
                        mft-filter-type="normal"
                        mft-filters="paused,ongoing">Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="table_body"
                   hx-swap="outerHTML"
                   hx-trigger="load"
                   hx-get="{% url 'api:finance:invoices:recurring:fetch' %}?page={{ page.next_page_number }}">
                {% include 'components/table/skeleton_rows.html' with rows=3 cols=6 %}
            </tbody>
        </table>
        <script>new Tableify('#recurring_invoices_list_table');</script>
    </div>
</div>
{% component "messages_list" %}
