<div class="avatar avatar-ring avatar-md">
    <div class="dropdown-container">
        <div class="dropdown">
            <label class="btn btn-ghost flex cursor-pointer px-0" tabindex="0">
                <img
                        class="h-8 w-8 rounded-full object-cover"
                        src="
                        {{ user_settings.profile_picture_url | default_if_none:'#' }}
                        "
                        alt=""
                        aria-hidden="true"
                />
            </label>
            <div class="dropdown-menu dropdown-menu-bottom-left">
                <a tabindex="-1" class="dropdown-item text-sm {% if request.resolver_match.url_name == "user settings" %}dropdown-active{% endif %}" href="{% url 'user settings' %}">Account settings</a>
                <a tabindex="-1" class="dropdown-item text-sm" href="{% url 'logout' %}">Log out</a>
            </div>
        </div>
    </div>
</div>