{% load static %}
<header class="z-10 py-4 shadow-md ">
   <div
      class="container mx-auto flex h-full items-center justify-between px-6 text-purple-600 dark:text-purple-300"
      >
      <!-- Mobile hamburger -->
      <button
         class="mr-5 -ml-1 rounded-md p-1 focus:shadow-outline-purple focus:outline-none md:hidden"
         @click="toggleSideMenu"
         aria-label="Menu"
         >
         <svg
            class="h-6 w-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            >
            <path
               fill-rule="evenodd"
               d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
               clip-rule="evenodd"
               ></path>
         </svg>
      </button>
      <!-- Search input -->
     <div class="flex flex-1 justify-center lg:mr-32">
      </div>
      <ul class="flex flex-shrink-0 items-center space-x-6">
         <!-- Theme toggler -->
         {% include 'core/partials/base/topbar/theme_toggler.html' %}
         {% include 'core/partials/base/topbar/_notifications_menu.html' %}
         {% include 'core/partials/base/topbar/_user_menu.html' %}
      </ul>
   </div>
</header>