{% extends base|default:"base/base.html" %}
{% load listfilters %}
{% block content %}
    {% load get_first_n_items from listfilters %}
    <div class="card bg-base-100 p-3 mb-2">
        <div class="grid grid-cols-3 items-center">
            <div class="flex items-center space-x-2"></div>
            <h2 class="text-xl text-center">Billing</h2>
            <div class="dropdown dropdown-bottom">
                <button id="billing-period"
                        data-hx-swap="billing_period"
                        class="btn btn-primary m-1 float-right">
                    Billing Period: {{ current_month.text }} 2024
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul id="billing-period-menu"
                    tabindex="0"
                    class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow hidden float-right">
                    {% for month in months|get_first_n_items:current_month.int %}
                        <li>
                            <button hx-swap="outerHTML"
                                    hx-target='tbody[data-hx-swap="billing_table"]'
                                    hx-trigger="click"
                                    hx-get="{% url "api:billing:fetch" %}?month={{ forloop.counter }}&year={{ current_year }}">
                                {{ month }}
                            </button>
                        </li>
                    {% endfor %}
                    <!-- Add more months/years here as needed -->
                </ul>
            </div>
        </div>
    </div>
    <div id="billing-content" class="card bg-base-100 shadow-md">
        <div class="card-body">
            <h2 class="card-title">MyFinances charges by service</h2>
            <div class="p-4 my-4">
                <div class="flex justify-between items-center">
                    <div>
                        <span class="text-base">Total Active Services</span>
                        <div class="text-xl font-bold" data-hx-swap="total_services">{{ billing.total_services }}</div>
                    </div>
                    <div class="text-right">
                        <span class="text-base">Total Cost (in GBP)</span>
                        <div class="text-xl font-bold" data-hx-swap="total_cost">£{{ billing.total_cost }}</div>
                    </div>
                </div>
            </div>
            <div class="divider divider-primary px-3"></div>
            <table class="table w-full">
                <!-- Table Head -->
                <thead>
                    <tr>
                        <th class="w-1/2">Description</th>
                        <th class="w-1/4">Quantity</th>
                        <th class="w-1/4 text-right">Price in GBP</th>
                    </tr>
                </thead>
                <tbody data-hx-swap="billing_table"
                       hx-swap="outerHTML"
                       hx-trigger="load"
                       hx-get="{% url "api:billing:fetch" %}">
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function toggleCollapse(group, element) {
            const rows = Array.from(document.querySelectorAll(`tr[data-groups*="${group}"]`));
            const isExpanded = !rows[0].classList.contains('hidden');

            // Toggle the visibility of rows based on the group
            rows.forEach(row => {
                row.classList.toggle('hidden', isExpanded);
            });

            // Toggle the icon
            const icon = element.querySelector('.collapse-icon');
            if (icon) {
                if (icon.classList.contains('fa-caret-down')) {
                    icon.classList.remove('fa-caret-down');
                    icon.classList.add('fa-caret-up');
                } else {
                    icon.classList.remove('fa-caret-up');
                    icon.classList.add('fa-caret-down');
                }
            }
        }

        // Toggle the visibility of the dropdown menu
        document.getElementById('billing-period').addEventListener('click', function () {
            const menu = document.getElementById('billing-period-menu');
            menu.classList.toggle('hidden');
        });
    </script>
{% endblock %}
