<tbody data-hx-swap="billing_table">
    {% for group in billing.groups %}
        <!-- Group Row -->
        <tr class="hover">
            <td>
                <div class="flex items-center">
                    <button class="w-7 h-7 flex items-center justify-center border rounded cursor-pointer"
                            onclick="toggleCollapse('{{ forloop.counter0 }}', this)">
                        <span class="collapse-icon fa fa-caret-down text-lg"></span>
                    </button>
                    <span class="ml-4 whitespace-normal">{{ group.group_name | title }}</span>
                </div>
            </td>
            <td></td>
            <td class="text-right">
                <strong>
                    {% if group.total_cost == group.total_cost|floatformat:2 %}
                        {{ group.total_cost|floatformat:"2g" }}
                    {% else %}
                        {{ group.total_cost|floatformat:"g" }}
                    {% endif %}
                </strong>
            </td>
        </tr>
        {% for service in group.services %}
            <!-- Service Row -->
            <tr data-groups="{{ forloop.parentloop.counter0 }}" class="hidden">
                <td>
                    <div class="flex items-center">
                        <button class="w-7 h-7 flex items-center justify-center border rounded cursor-pointer ml-2"
                                onclick="toggleCollapse('{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}', this)">
                            <span class="collapse-icon fa fa-caret-down text-lg"></span>
                        </button>
                        <div class="border-l-2 h-full border-gray-300 mr-2 ml-2"></div>
                        <span class="ml-4 whitespace-normal">{{ service.service_name }}</span>
                    </div>
                </td>
                <td></td>
                <td class="text-right">
                    {# this basically checks if it ends in zeros, to strip it down if we dont need to display them #}
                    {% if service.total_cost == service.total_cost|floatformat:0 %}
                        {{ service.total_cost|floatformat:2 }}
                    {% else %}
                        {{ service.total_cost }}
                    {% endif %}
                </td>
            </tr>
            {% for detail in service.details %}
                <!-- Detail Row -->
                <tr data-groups="{{ forloop.parentloop.parentloop.counter0 }}-{{ forloop.parentloop.counter0 }}"
                    class="hidden">
                    <td>
                        <div class="flex items-center ml-10">
                            <div class="border-l-2 h-full border-gray-300 mr-2"></div>
                            <span class="ml-4 whitespace-normal">{{ detail.description }}</span>
                        </div>
                    </td>
                    <td>{{ detail.quantity }}</td>
                    <td class="text-right">
                        {# this basically checks if it ends in zeros, to strip it down if we dont need to display them #}
                        {{ detail.cost|floatformat:"2g" }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    {% empty %}
        <tr>
            <td class="font-bold" colspan="100%">There are no used services for this month</td>
        </tr>
    {% endfor %}
</tbody>
<div hx-swap-oob='innerHTML:button[data-hx-swap="billing_period"]'>
    Billing Period: {{ selected_month.text }} {{ current_year }}
    <i class="fa fa-caret-down"></i>
</div>
<div hx-swap-oob='innerHTML:div[data-hx-swap="total_services"]'>{{ billing.total_services }}</div>
<div hx-swap-oob='innerHTML:div[data-hx-swap="total_cost"]'>
    <span class="tooltip tooltip-primary tooltip-left underline underline-offset-4 decoration-dotted"
          data-tip="Raw total: £{{ billing.total_cost }}">
        £
        {% if billing.total_cost == billing.total_cost|floatformat:2 %}
            {{ billing.total_cost|floatformat:"2g" }}
        {% else %}
            {{ billing.total_cost|floatformat:"g" }}
        {% endif %}
    </span>
</div>
