{% extends 'base/auth.html' %}
{% load feature_enabled %}
{% load static %}
{% block image %}
    {% static 'img/mobile_login.svg' %}
{% endblock image %}
{% block title %}
    Sign in to MyFinances
{% endblock title %}
{% block top-r-top %}New to MyFinances?{% endblock %}
{% block top-r-bottom %}
    <a href="{% url 'auth:login create_account' %}" class="font-semibold link link-primary link-hover">
        Create an account
    </a>
{% endblock %}
{% block content %}
    {% feature_enabled "areMagicLinkLoginsAllowed" as magic_links_enabled %}
    <form id="login-form" method="post" action="{% url 'auth:login manual' %}">
        {% csrf_token %}
        <div class="form-control w-full mt-4">
            <label class="label">
                <span class="label-text text-base-content undefined">Email Address</span>
            </label>
            <input required
                   type="email"
                   name="email"
                   pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                   placeholder="jsmith@example.com"
                   class="peer input input-bordered w-full"
                   value="{{ request.GET.email|default_if_none:'' }}">
            <label class="label peer-[&amp;:not(:placeholder-shown):not(:focus):invalid]:block hidden">
                <span class="label-text-alt text-error">Please enter a valid email.</span>
            </label>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        </div>
        <div class="form-control w-full mt-4">
            <label class="label">
                <span class="label-text text-base-content undefined">Password</span>
            </label>
            <input required
                   autofocus
                   type="password"
                   name="password"
                   placeholder="********"
                   class="input input-bordered w-full">
        </div>
        <button id="login-btn"
                class="btn btn-primary loading-htmx mt-5 w-full"
                data-hx-loading="save"
                type="submit">
            <span class="loading-htmx-text">Login</span>
            <span id="currency_save_loading"
                  class="loading loading-spinner loading-htmx-loader"></span>
        </button>
    </form>
    <script>
        // Displays loader and disables button when form is submitted
        const form = document.getElementById("login-form");
        form.addEventListener("submit", (event) => {
            const button = document.getElementById("login-btn");
            const loader = document.getElementById("currency_save_loading");
            button.setAttribute("disabled", "");
            loader.style.display = "inline-block";
        })
    </script>
{% endblock %}
