<div class="dropdown-container">
    <div class="dropdown">
        <label class="flex cursor-pointer px-0" tabindex="0"
        hx-get="{% url 'api v1 base notifications get' %}" hx-target="#notifications_dropdown" hx-swap="innerHTML" hx-trigger="click">
            <div class="relative">
                <i class="fa-solid fa-bell"></i>
                {% if has_notifications %}
                    <span aria-hidden="true" class="absolute top-0 right-0 inline-block h-3 w-3 translate-x-1 transform rounded-full border-2 border-white bg-red-600 dark:border-gray-800"></span>
                {% endif %}
            </div>
        </label>
        <div class="dropdown-menu dropdown-menu-bottom-left" id="notifications_dropdown">
            <div tabindex="-1" class="dropdown-item h-6 skeleton rounded-md"></div>
            <div tabindex="-1" class="dropdown-item mt-1 h-6 skeleton rounded-md"></div>
            <div tabindex="-1" class="dropdown-item mt-1 h-6 skeleton rounded-md"></div>
            <div tabindex="-1" class="dropdown-item mt-1 h-6 skeleton rounded-md"></div>
        </div>
    </div>
</div>
