{% load static %}
<div class="avatar avatar-ring avatar-md">
    <div class="dropdown-container">
        <div class="dropdown">
            <label class="btn btn-ghost flex cursor-pointer px-0" tabindex="0">
                <img
                        class="h-8 w-8 rounded-full object-cover avatar avatar-ring avatar-md"
                        src="
                        {% if user_settings.profile_picture_url %}
                            {{ user_settings.profile_picture_url }}
                        {% else %}
                            {% static 'img/default_profile_pic.png' %}
                        {% endif %}
                        "
                />
            </label>
            <div class="dropdown-menu dropdown-menu-bottom-left">
                <div class="flex">
                    <img
                            class="rounded-full object-cover"
                            src="
                        {% if user_settings.profile_picture_url %}
                            {{ user_settings.profile_picture_url }}
                        {% else %}
                            {% static 'img/default_profile_pic.png' %}
                        {% endif %}
                        "
                            style="width: 20%; height: 20%;"
                    />
                    <p class="text-lg ms-2">{{ request.user.get_full_name }}</p>
                </div>
                <div class="dropdown-divider my-4" role="separator"></div>
                <a tabindex="-1" class="dropdown-item text text-sm {% if request.resolver_match.url_name == "user settings" %}dropdown-active{% endif %}" href="{% url 'user settings' %}">
                    Account settings
                </a>
                <a tabindex="-1" class="dropdown-item text-sm text mt-1 {% if request.resolver_match.url_name == "user settings teams" %}dropdown-active{% endif %}" href="{% url 'user settings teams' %}">
                    Manage team
                </a>
                <label for="logout_modal" tabindex="-1" class="dropdown-item text text-sm mt-1" hx-trigger="click once" hx-swap="beforeend" hx-target="#modal_container" hx-get="{% url "api v1 base modal retrieve" modal_name="logout_modal" %}">
                    Log out
                </label>
            </div>
        </div>
    </div>
</div>