{% if code %}
    <tr>
        <td>
            <a href="{% url "invoices view invoice" uuid=code %}"
               class="link link-secondary link-underline">{{ code }}</a>
        </td>
        <td>{{ created_on }}</td>
        <td>
            <span class="tooltip tooltip-top" data-tip="Copy URL">
                <button class="btn btn-primary btn-outline btn-sm"
                        onclick="navigator.clipboard.writeText('{{ code }}')">
                    <i class="fa fa-paperclip"></i>
                </button>
            </span>
            <span class="tooltip tooltip-top tooltip-" data-tip="Delete Code">
                <button class="btn btn-error btn-outline btn-sm"
                        hx-delete="{% url 'invoices:single:manage_access delete' code=code %}"
                        hx-target="closest tr"
                        hx-swap="outerHTML">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </span>
        </td>
    </tr>
{% endif %}
{% component "messages_list" %}
