{% extends base|default:"base/base.html" %}
{% block content %}
    <div class="card p-6 shadow-xl bg-base-100 mb-4">
        <div class=" text-3xl w-full grid grid-cols-3">
            <div>
                <a href="{% url "finance:invoices:single:dashboard" %}"
                   class="btn btn-sm btn-outline btn-secondary me-3 float-left">Back to invoices</a>
            </div>
            <h1 class="text-left col-span-2">Manage Access to Invoice #{{ invoice.id }}</h1>
        </div>
    </div>
    <div class="card bg-base-100 shadow-xl w-full p-6">
        <button hx-trigger="click"
                hx-post="{% url "finance:invoices:single:manage_access create" invoice_id=invoice.id %}"
                hx-swap="afterbegin"
                hx-target="#tbody"
                class="btn btn-primary">
            <i class="fa fa-solid fa-link pe-2"></i>
            Create URL
        </button>
        <table class="w-full table mt-3">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Date Created</th>
                    <th>Created By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for url in invoice.invoice_urls.all %}
                    {% with code=url.uuid created_on=url.created_on created_by=url.get_created_by %}
                        {% include 'pages/invoices/single/manage_access/_table_row.html' %}
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
