<div class="mb-4 col-span-full xl:mb-2">
            <nav class="flex mb-5"
                 aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
                  <li class="inline-flex items-center">
                    <a href="#"
                       class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white">
                        <i class="fa fa-solid fa-regular fa-house mr-2.5"></i>
                      Home
                    </a>
                  </li>
                  <li>
                    <div class="flex items-center">
                        {% include 'core/components/icon.html' with icon="angle-right" other="text-gray-400 fa-lg mx-2" %}

                      <a href="#"
                         class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Users</a>
                    </div>
                  </li>
                  <li>
                    <div class="flex items-center">
                        {% include 'core/components/icon.html' with icon="angle-right" other="text-gray-400 fa-lg mx-2" %}
                      <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500"
                            aria-current="page">Settings</span>
                    </div>
                  </li>
                </ol>
            </nav>
        </div>