{% if sessions.count > 0 %}
<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg col-span-2 shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    <div class="flow-root">
        <h3 class="text-xl font-semibold dark:text-white">Sessions</h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for session in sessions|slice:":3" %}
                {% include 'core/pages/profile/settings/session.html' with session=session %}
            {% endfor %}
        </ul>
        {% if sessions.count > 3 %}
            <a class="text-white font-medium text-sm"
               href="#">
                See more
            </a>
        {% endif %}
    </div>
</div>
{% endif %}
