{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }"
      x-data="data()"
      lang="en"
        style="overflow: hidden">
{% include 'core/partials/base/_head.html'  %}
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="flex h-screen bg-backgroundSecondary"
     :class="{ 'overflow-hidden': isSideMenuOpen}">
    {% include 'core/partials/base/navbar/_sidebar_pc.html' %}
    {% include 'core/partials/base/navbar/_sidebar_mobile.html' %}

    <div class="flex flex-1 flex-col">
        <!-- header -->
        {% include 'core/partials/base/topbar/topbar.html' %}

        <main class="h-full overflow-y-auto pb-16">
            <div class="container  grid px-6 pt-6">
                <!-- MAIN PAGE -->
                {% include 'core/partials/base/tabinator.html' %}
                {% include 'core/partials/base/toasts.html' %}

                <div id="modal_container">

                </div>

                {% include 'core/components/modal.html' with modals=modals %}
                {% include 'core/components/modal.html' with modals=modal_data_context_processors %}

                {% block content %}

                {% endblock content %}
            </div>
        </main>
    </div>
</div>
</body>
</html>
