{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }"
      x-data="data()"
      lang="en">
{% include 'core/partials/base/_head.html' with title="Login" %}
<body>
<div class="flex min-h-screen items-center bg-gray-50 p-6 dark:bg-gray-900">
    <form class="mx-auto flex w-full max-w-lg flex-col rounded-xl border border-border bg-backgroundSecondary p-4 sm:p-20">
        <div class="flex w-full flex-col gap-2">
            <p>Sign in with</p>
            <div class="flex w-full flex-col gap-2">
                <a class="btn gap-2 bg-gray-5" href="">
                    <!-- icon -->
                    <span>Sign up with google</span>
                </a>
                <a class="btn gap-2 bg-gray-5" href="">
                    <!-- icon -->
                    <span>Sign up with twitter</span>
                </a>
                <a class="btn gap-2 bg-gray-5" href="{% url 'social:begin' 'github' %}">
                    <!-- icon -->
                    <span>Sign up with github</span>
                </a>
            </div>
        </div>
        <div class="divider my-6 text-xs text-content2">or continue with</div>

        <div class="form-group">
            <div class="form-field">
                <label class="form-label">Email address</label>

                <input placeholder="Type here" type="email" class="input max-w-full peer" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" value="{{ email }}"/>
{#                <span class="mt-2 hidden text-sm text-red-500 peer-[&amp;:not(:placeholder-shown):not(:focus):invalid]:block">#}
{#                    Please enter a valid email address#}
{#                </span>#}
                <label class="form-label peer-[&amp;:not(:placeholder-shown):not(:focus):invalid]:block hidden ">
                    <span class="form-label-alt">Please enter a valid email.</span>
                </label>
            </div>
            <div class="form-field">
                <label class="form-label">
                    <span>Password</span>
                </label>
                <div class="form-control">
                    <input placeholder="Type here" type="password" class="input max-w-full"/>
                </div>
            </div>
            <div class="form-field">
                <div class="form-control justify-between">
                    <div class="flex gap-2">
                        <input type="checkbox" class="checkbox"/>
                        <a href="#">Remember me</a>
                    </div>
                    <label class="form-label">
                        <a class="link link-underline-hover link-primary text-sm">Forgot your password?</a>
                    </label>
                </div>
            </div>
            <div class="form-field pt-5">
                <div class="form-control justify-between">
                    <button type="button" class="btn btn-primary w-full">Sign in</button>
                </div>
            </div>

            <div class="form-field">
                <div class="form-control">
                    <a class="link link-underline-hover link-primary text-sm">Don't have an account? Sign in</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
