{% extends base|default:"base/base.html" %}
{% block content %}
    <div class="card p-6 shadow-xl bg-base-100 mb-4">
        <div class=" text-3xl w-full grid grid-cols-4">
            <div hx-boost="true">
                <a href="{% url 'clients:dashboard' %}"
                   class="btn btn-sm btn-outline btn-secondary me-3 float-left">Back to list</a>
            </div>
            <h1 class="text-center col-span-2">{{ client.name }}</h1>
            <div>
                <button hx-delete="{% url 'clients:delete' id=client.id %}"
                        hx-trigger="click"
                        hx-confirm="Are you sure you would like to delete {{ client.name }}?"
                        class="btn btn-sm btn-outline btn-error me-3 float-right">
                    <i class="fa-solid fa-trash"></i>
                    Delete
                </button>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 shadow-xl w-full p-6 flex-col gap-y-4">
        <div class="flex flex-wrap gap-4">
            <a href=""
               class="btn btn-md btn-outline btn-default btn-disabled grow mr-4">
                <i class="fa-solid fa-edit"></i>
                Edit Customer
            </a>
            <a href="{% url 'finance:invoices:single:create' %}?client={{ client.id }}"
               class="btn btn-md btn-outline btn-default grow mr-4">
                <i class="fa-solid fa-share-nodes"></i>
                Send Invoice
            </a>
        </div>
    </div>
    <div class="collapse collapse-arrow card bg-base-100 shadow-xl w-full p-6 flex-row gap-x-4 mt-4"
        hx-trigger="load" {# click once #}
        hx-target='find  div[data-htmx="details_container"]'
        hx-swap="innerHTML"
        hx-get="{% url 'api:settings:client_defaults' client_id=client.id %}">
        <input type="checkbox" checked />
        <div class="collapse-title text-xl font-medium">Customer Defaults</div>
        <div data-htmx="details_container" class="collapse-content">
            <span class="loading loading-spinner loading-htmx-loader"></span>
        </div>
    </div>
    {#        <div class="collapse collapse-arrow card bg-base-100 shadow-xl w-full p-6 flex-row gap-x-4 mt-4">#}
    {#            <input type="checkbox" checked />#}
    {#            <div class="collapse-title text-xl font-medium">Invoices</div>#}
    {#            <div id="container" class="collapse-content"></div>#}
    {#        </div>#}
{% endblock content %}
