{% load static %}
{% if swap_oob %}<div hx-swap-oob="outerHTML:img[data-profile_icon='{{ swap_oob }}']">{% endif %}
    {% if url %}
        <img src=" {% if url %}{{ url }}{% else %}{% if user_settings.profile_picture %}{{ user_settings.profile_picture_url }} {% else %}{% static 'img/default_profile_pic.png' %}{% endif %}{% endif %}"
             class="{{ extra_classes }}"
             data-profile_icon="{{ image_type }}" />
    {% else %}
        <img src=" {% if user_settings.profile_picture %}{{ user_settings.profile_picture_url }}{% else %} {% static 'img/default_profile_pic.png' %}{% endif %}"
             class="{{ extra_classes }}"
             data-profile_icon="{{ image_type }}" />
    {% endif %}
    {% if swap_oob %}</div>{% endif %}
