<div class="col-span-2 mb-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm
            hover:border hover:border-red-200 dark:border-gray-700 dark:bg-gray-800 sm:p-6 2xl:col-span-2 dark:opacity-75 hover:dark:opacity-100">
        <div class="flow-root">
            <h3 class="mb-4 text-xl font-semibold dark:text-white">
                {% include 'core/components/icon.html' with icon="triangle-exclamation" tags="text-red-300 mr-2" %}
                <span class="text-red-300">Danger Zone</span>
                {% include 'core/components/icon.html' with icon="triangle-exclamation" tags="text-red-300 ml-2" %}
            </h3>
            <a class="border border-red-200 hover:bg-red-400 hover:border-red-400 text-red-200 hover:text-black
                           font-semibold py-2 px-4 border border-gray-400 rounded shadow-inner hover:shadow-inner"
                href="{% url 'user settings change_password' %}">
                Change account password
            </a>
        </div>
</div>
