{% load static %}
<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0"
                   for="service_list_drawer"
                   id="service_list_togglers"
                   class="btn btn-ghost lg:hidden">
                <i class="fa-solid fa-bars"></i>
            </label>
        </div>
        <div class="flex items-center gap-x-3 gap-x-0 md:gap-x-5 ms-4">
            <a href="/" class="hidden lg:block">
                <label for="service_list_drawer"
                       id="service_list_button"
                       aria-label="close sidebar"
                       class="swap-rotate drawer-overlay swap flex items-center">
                    <input type="checkbox" id="logo_single_service_list_toggler" />
                    <img src="{% static "img/logo_single.png" %}" class="h-10 swap-off">
                    <i class="absolute fa fa-solid fa-x swap-on flex justify-center items-center"></i>
                </label>
            </a>
            <a class="md:text-2xl text-gray-800 font-semibold dark:text-gray-200"
               href="/">My Finances</a>
        </div>
    </div>
    <div class="navbar-center hidden lg:flex z-50">
        <!-- Topbar Dropdown (LARGE ONLY) -->
        <ul class="menu menu-horizontal px-1" hx-boost="true">
            <li>
                <a href="/dashboard/">My Dashboard</a>
            </li>
            {#            <li class="z-[50]">#}
            {#                <details>#}
            {#                    <summary>some dropdown</summary>#}
            {#                    <ul class="p-2">#}
            {#                        <li>#}
            {#                            <a>something dropdown</a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a>something dropdown</a>#}
            {#                        </li>#}
            {#                    </ul>#}
            {#                </details>#}
            {#            </li>#}
            <li>
                <a href="{% url "receipts dashboard" %}">My Receipts</a>
            </li>
            <li>
                <a href="{% url "invoices:dashboard" %}" hx-boost="true">My Invoices</a>
            </li>
            <li>
                <a href="{% url "clients dashboard" %}" hx-boost="true">My Clients</a>
            </li>
        </ul>
    </div>
    <div class="navbar-end">
        {# Right Icons #}
        {#        <div class="flex">#}
        {# Profile Picture  #}
        <details class="dropdown dropdown-end mr-3">
            <summary class="btn btn-ghost"
                     data-notifications="bell"
                     hx-get="{% url "api:base:notifications get" %}"
                     hx-target='[data-notifications="container"]'
                     hx-swap="innerHTML"
                     hx-trigger="click">
                <i class="fa-solid fa-bell"></i>
                {{ request.user.notification_count }}
            </summary>
            <ul class="menu menu-sm dropdown-content border border-primary"
                data-notifications="container">
                {% include "base/topbar/_notification_dropdown_items.html" %}
            </ul>
        </details>
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                {% component "profile_picture" image_type="small" extra_classes="max-w-12 max-h-12 w-12 h-12 avatar-img-ring" url=request.user.user_profile.profile_picture_url %}
            </label>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content border border-primary">
                <details class="dropdown dropdown-left flex flex-col">
                    <summary class="btn block text-left p-2 max-h-full h-full"
                             data-htmx-swap="logged_in_for"
                             hx-trigger="click"
                             hx-target='[data-htmx-swap="organization_dropdown_list"]'
                             hx-get="{% url "api:teams:get_dropdown" %}"
                             hx-swap="innerHTML">{% component "components:logged_in_for" %}</summary>
                    <ul class="menu menu-sm dropdown-content border border-primary"
                        data-htmx-swap="organization_dropdown_list">
                        <div class="flex justify-center items-center gap-2">
                            <i class="loading"></i>
                            Loading
                        </div>
                    </ul>
                </details>
                <div class="divider mt-0 mb-0"></div>
                {% component "base:topbar:icon_dropdown" %}
            </ul>
        </div>
        {# End of Profile Picture #}
        {#        </div>#}
        {# End of Right Icons #}
    </div>
</div>
