<tbody data-hx-swap="onetime_schedules">
    {% for schedule in schedules %}
        {% include 'pages/invoices/single/schedules/schedules/_table_row.html' with schedule=schedule %}
    {% endfor %}
</tbody>
{% for filter_type, inner_filters in all_filters.items %}
    {% for filter in inner_filters %}
        <div hx-swap-oob="innerHTML:div[data-filter-type='{{ filter_type }}'] ul li[data-filter-by='{{ filter }}'] button">
            {% if filter in selected_filters %}<i class="fa fa-solid fa-check text-success"></i>{% endif %}
            {{ filter | title }}
        </div>
    {% endfor %}
{% endfor %}
<div hx-swap-oob="innerHTML:#filter_schedules_list_storage">
    <input type="hidden"
           name="status_completed"
           value="{% if 'completed' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="status_pending"
           value="{% if 'pending' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="status_creating"
           value="{% if 'creating' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="status_deleting"
           value="{% if 'deleting' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="status_cancelled"
           value="{% if 'cancelled' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="status_failed"
           value="{% if 'failed' in selected_filters %}true{% endif %}">
</div>
