{% load humanize %}
{% load markdownify %}
{% for row in rows %}
    <tr>
        <td>
            <input class="hidden" name="service_name[]" value="{{ row.service_name }}">
            <input class="hidden" name="service_description[]" value="{{ row.service_description }}">
            {{ row.service_name|markdownify }}
            {{ row.service_description|markdownify }}
        </td>
        <td>
            <input class="hidden" name="hours[]" value="{{ row.hours }}">
            {{ row.hours }}
        </td>
        <td>
            <input class="hidden" name="price_per_hour[]" value="{{ row.price_per_hour }}">
            £{{ row.price_per_hour }}
        </td>
        <td>
            <input class="hidden" name="total_price[]" value="{{ row.total_price }}">
            £{{ row.total_price | intcomma }}
        </td>
        <td>
            <button type="button" class="btn btn-outline-error btn-xs" hx-swap="outerHTML" hx-target="closest tr" hx-delete="{% url "api v1 invoices create services remove" %}">
                <i class="fa-solid fa-trash-can pe-2"></i>
                Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5">No services added</td>
    </tr>
{% endfor %}

<script>
    document.addEventListener('htmx:afterRequest', function (event) {
        var container = document.getElementById('services_table_body');
        var rows = container.querySelectorAll('tr');
        if (rows.length === 0) {
            container.innerHTML = '<tr><td colspan="5">No services added</td></tr>';
        }
    });
</script>
