{% extends 'core/pages/base.html' %}
{% block content %}
    <div class="flex flex-col w-full my-4">
        <div class="flex justify-between mb-2">
            <h3 class="text-sm text-gray-400 font-medium ms-2">From</h3>
            <h3 class="text-sm text-gray-400 font-medium me-2">To</h3>
        </div>
        <div class="flex w-full">
            <a class="card max-w-screen-xl me-3 border border-gray-900 hover:border-gray-500" href="{% url 'index' %}">
                <div class="card-body">
                    <p class="text-base font-medium">My Company</p>
                    <p class="text-sm">John Smith</p>
                    <p class="text-sm">128 Road</p>
                    <p class="text-sm">Street</p>
                    <p class="text-sm">England</p>
                </div>
            </a>
            <a class="card max-w-screen-xl ms-3 border border-gray-900 hover:border-gray-500" href="{% url 'index' %}">
                <div class="card-body">
                    <p class="text-base font-medium">Another Company</p>
                    <p class="text-sm">Jane Doe</p>
                    <p class="text-sm">456 Avenue</p>
                    <p class="text-sm">Boulevard</p>
                    <p class="text-sm">USA</p>
                </div>
            </a>
        </div>
    </div>
    <div class="form-field">
        <label class="form-label">Issue date</label>
        <input autocomplete="off" id="date" placeholder="" type="date" class="input max-w-50">
    </div>
    <div class="form-field">
        <label class="form-label">Due date</label>
        <input autocomplete="off" id="date" placeholder="" type="date" class="input max-w-50">
    </div>

{% endblock content %}
