{% extends 'core/pages/base.html' %}
{% load static %}
{% block content %}
    <form method="post">
        <div class="divider mt-8">STEP 1</div>
        <div class="my-4 flex w-full flex-col">

            <div class="mb-2 flex justify-between">
                <h3 class="text-sm font-medium text-gray-400 ms-2">From</h3>
                <h3 class="text-sm font-medium text-gray-400 me-2">To</h3>
            </div>
            <div class="flex w-full">
                <a class="max-w-screen-xl border border-gray-900 card me-3 hover:border-gray-500" href="{% url 'index' %}">
                    <div class="card-body">
                        <p class="text-base font-medium">My Company</p>
                        <p class="text-sm">John Smith</p>
                        <p class="text-sm">128 Road</p>
                        <p class="text-sm">Street</p>
                        <p class="text-sm">England</p>
                    </div>
                </a>
                <a class="max-w-screen-xl border border-gray-900 card ms-3 hover:border-gray-500" href="{% url 'index' %}">
                    <div class="card-body">
                        <p class="text-base font-medium">Another Company</p>
                        <p class="text-sm">Jane Doe</p>
                        <p class="text-sm">456 Avenue</p>
                        <p class="text-sm">Boulevard</p>
                        <p class="text-sm">USA</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="divider my-4">STEP 2</div>
        <div class="my-4 flex w-full flex-col">
            <div class="flex w-full">
                <div class="max-w-screen-xl border border-gray-900 card me-3 hover:border-gray-500" href="{% url 'index' %}">
                    <div class="card-body">
                        <div class="form-field">
                            <label class="form-label">Issue date</label>
                            <input required id="dateIssued" name="date_issued" placeholder="" type="date" class="peer input input-ghost-secondary input-block">
                            <label class="form-label peer-[&amp;:not(:placeholder-shown):not(:focus):invalid]:block hidden ">
                                <span class="form-label-alt">Please enter a valid date.</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="max-w-screen-xl border border-gray-900 card ms-3 hover:border-gray-500" href="{% url 'index' %}">
                    <div class="card-body">
                        <div class="form-field">
                            <label class="form-label">Due date</label>
                            <input required name="date_due" id="dueDate" placeholder="" type="date" class="peer input-ghost-secondary input input-block">
                            <label class="form-label peer-[&amp;:not(:placeholder-shown):not(:focus):invalid]:block hidden ">
                                <span class="form-label-alt">Please enter a valid date.</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider my-4">STEP 3</div>
        <div class="my-4 max-w-screen-xl card">
            <div class="card-body">
                <label class="btn btn-primary" for="modal-1">Add Service</label>
                <input class="modal-state" id="modal-1" type="checkbox" id="modal-checkbox" />
                {# START MODAL #}
                <div class="modal">
                    <label class="modal-overlay" for="modal-1"></label>
                    <div class="modal-content flex flex-col gap-5">
                        <label for="modal-1" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
                        <h2 class="text-xl">Add Service</h2>
                        <div class="form-field">
                            <label for="service" class="form-label">Service Name</label>
                            <input id="modal_input-service_name" name="post_service_name" type="text" class="input input-bordered">
                        </div>
                        <div class="form-field">
                            <label for="hours" class="form-label">Hours</label>
                            <input id="modal_input-hours" type="number" name="post_hours" class="input input-bordered">
                        </div>
                        <div class="form-field">
                            <label for="pricePerHour" class="form-label">Price Per Hour</label>
                            <input id="modal_input-price_per_hour" type="number" name="post_price_per_hour" class="input input-bordered">
                        </div>
                        <button class="btn btn-primary"
                                hx-post="{% url 'api v1 invoices create services add' %}"
{#                                hx-swap="outerHTML"#}

                                hx-target="#services_table_body">
                            Save Service
                        </button>
                    </div>
                </div>
                {# END MODAL #}

                <div class="flex w-full overflow-x-auto">
                    <table class="table table-zebra max-w-full" id="services_table">
                        <thead>
                        <tr>
                            <th>Service</th>
                            <th>Hours</th>
                            <th>Price Per Hour</th>
                            <th>Total Price</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="services_table_body">
                            {% include 'core/pages/invoices/create/_services_table_body.html' %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <button class="btn btn-primary">Create Invoice</button>
    </form>

{% endblock content %}