<div class="flex w-full overflow-x-auto">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="skeleton h-5 rounded-md"></div>
                </th>
                <th>
                    <div class="skeleton h-5 rounded-md"></div>
                </th>
                <th>
                    <div class="skeleton h-5 rounded-md"></div>
                </th>
                <th>
                    <div class="skeleton h-5 rounded-md"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <div class="skeleton h-5 rounded-md"></div>
                </th>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="skeleton h-5 rounded-md"></div>
                </th>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="skeleton h-5 rounded-md"></div>
                </th>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="skeleton h-5 rounded-md"></div>
                </th>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
                <td>
                    <div class="skeleton h-5 rounded-md"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
