{% component_block "modal" id="modal_invite_user" start_open="true" title="Invite User" %}
    {% fill "content" %}
        <form class="py-4"
              id="modal_invite_user-form"
              hx-post="{% url 'api:teams:invite' %}" hx-swap="none">
            {% csrf_token %}
            <div class="form-control w-full">
                <label class="label justify-start">
                    Users' Email
                    <span class="required_star">*</span>
                </label>
                <input id="modal_input-email"
                       name="post_email"
                       type="email"
                       class="input input-block input-bordered" required>
            </div>
            <div class="modal-action">
                <button type="submit"
                        id="modal_invite_user-submit"
                        class="btn btn-primary"
                        _="on click
                    if #modal_invite_user-form.checkValidity()
                     call #modal_invite_user.close()
                    end">
                    Send Invite
                </button>
                <button type="button" _="on click call #modal_invite_user.close()" class="btn">
                    Cancel
                </button>
            </div>
        </form>
    {% endfill %}
{% endcomponent_block %}