{% if c_type == "client" %}
    <p class="font-bold text-gray-800">Bill to</p>
    {% if invoice.client_to %}
        {% if invoice.client_to.is_representative %}{{ invoice.client_to.company }}{% endif %}
        <p class="text-gray-500">
            {{ invoice.client_to.name|default_if_none:"" }}
            -
            {{ invoice.client_to.email|default_if_none:"" }}
            {% if invoice.client_to.phone_number %}({{ invoice.client_to.phone_number }}){% endif %}
        </p>
    {% endif %}
{% elif c_type == "manual" %}
    <p class="font-bold text-gray-800">Bill to</p>
    <p class="text-gray-500">
        {% if invoice.client_is_representative %}
            <p class="text-lg">{{ invoice.client_company|default_if_none:"" }}</p>
            {% if invoice.client_name %}
                Represented by <strong>{{ invoice.client_name|default_if_none:"" }}</strong>
            {% endif %}
        {% else %}
            {{ invoice.client_name|default_if_none:"" }}
            <br />
            {{ invoice.client_address|default_if_none:"" }}
        {% endif %}
    </p>
    <p class="text-gray-500">{{ invoice.client_email|default_if_none:"" }}</p>
{% endif %}
