{% load static %}
{% load mathfilters %}
{% load markdownify %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en" style="">
    {% include 'base/_head.html' %}
    <body>
        <div class="flex-1 min-h-screen overflow-y-auto pt-8 px-6 pb-4 bg-base-200">
            <div tabindex="-1"
                 id="status_banner"
                 class="print-ignore fixed top-0 left-0 z-50 grid grid-cols-3 w-full p-4 bg-base-100">
                <div>
                    {% if type == "preview" %}
                        <a href="{% url 'invoices dashboard' %}" class="btn btn-sm btn-outline">
                            <i class="fa-solid fa-arrow-left me-2"></i>
                            Go Back
                        </a>
                    {% endif %}
                </div>
                <div class="flex items-center mx-auto">
                    <p class="flex items-center text-sm font-normal">
                        {% with ps=invoice.payment_status %}
                            {% if ps == "paid" %}
                                <span class="circle-tick bg-success text-neutral">
                                    <i class="fa-solid fa-tick"></i>
                                </span>
                            {% elif ps == "pending" %}
                                <span class="circle-tick bg-gray-500 text-black">
                                    <i class="fa-solid fa-question"></i>
                                </span>
                            {% elif ps == "overdue" %}
                                <span class="circle-tick bg-error text-neutral drop-shadow drop-shadow-glow_red">
                                    <i class="fa-solid fa-x"></i>
                                </span>
                            {% endif %}
                            <span>
                                {% if ps == "paid" %}
                                    This invoice has been <strong>paid</strong>
                                {% elif ps == "pending" %}
                                    This invoice is <strong>pending</strong>
                                {% elif ps == "overdue" %}
                                    This invoice is <strong>overdue</strong>
                                {% endif %}
                            </span>
                        </p>
                    {% endwith %}
                </div>
                <div class="flex justify-end float-right">
                    <a class="btn btn-sm btn-secondary me-2" href="" download>
                        <i class="fa-solid fa-download me-2"></i>
                        Download
                    </a>
                    <button onclick="window.print()" class="btn btn-sm btn-primary me-2">
                        <i class="fa-solid fa-print me-2"></i>
                        Print
                    </button>
                    <a class="btn btn-sm btn-accent me-8"
                       href="{% url "invoices dashboard manage_access" id=invoice.id %}">Share Invoice</a>
                    <div class="flex items-center">
                        <button onclick="document.getElementById('status_banner').remove();"
                                type="button"
                                class="flex-shrink-0 inline-flex justify-center w-7 h-7 items-center rounded-lg text-sm p-1.5 hover:bg-gray-600 hover:text-white">
                            <i class="fa-solid fa-xmark"></i>
                            <span class="sr-only">Close Popup</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Start of Invoice -->
            <div class="max-w-3xl mx-auto p-6 bg-white rounded shadow-sm my-6 mt-16 min-h-screen"
                 id="invoice">
                <div class="grid grid-cols-2 items-center">
                    {% if invoice.logo %}
                        <img src="{{ invoice.logo.url }}"
                             alt="company-logo"
                             height="100"
                             width="100">
                    {% else %}
                        <img src="https://github.com/TreyWW/MyFinances/blob/main/documentation/assets/logo_single.png?raw=true"
                             alt="company-logo"
                             height="100"
                             width="100">
                    {% endif %}
                    <div class="text-right">
                        <p class="text-gray-700">{{ invoice.self_company|default_if_none:"" }}</p>
                        <p class="text-gray-500 text-sm">{{ invoice.self_name|default_if_none:"" }}</p>
                        <p class="text-gray-500 text-sm mt-1">{{ invoice.self_phone|default_if_none:"" }}</p>
                        {% if invoice.vat_number %}
                            <p class="text-gray-500 text-sm mt-1">VAT: {{ invoice.vat_number }}</p>
                        {% endif %}
                    </div>
                </div>
                <!-- Client info -->
                <div class="grid grid-cols-2 items-center mt-7">
                    <div>
                        {% with details=invoice.get_to_details %}
                            {% include 'pages/invoices/view/_client-details.html' with c_type=details.0 c_details=details.1 %}
                        {% endwith %}
                    </div>
                    <div class="text-right text-gray-800">
                        <p>
                            <span class="ms-1 text-gray-500">INV #{{ invoice.invoice_id|default:invoice.id }}</span>
                        </p>
                        <p>
                            Invoice date: <span class="ms-1 text-gray-500">{{ invoice.date_issued|date:"d/m/Y" }}</span>
                            <br />
                            Due date:<span class="ms-1 text-gray-500">{{ invoice.date_due|date:"d/m/Y" }}</span>
                            <br />
                            Balance Due: <span class="ms-1 text-gray-500">{{ currency_symbol }}{{ invoice.get_total_price }}</span>
                        </p>
                    </div>
                </div>
                <!-- Invoice Items -->
                <div class="-mx-4 mt-8 flow-root sm:mx-0">
                    <table class="min-w-full">
                        <colgroup>
                            <col class="w-full sm:w-1/2">
                            <col class="sm:w-1/6">
                            <col class="sm:w-1/6">
                            <col class="sm:w-1/6">
                        </colgroup>
                        <thead class="border-b border-gray-300 text-gray-900">
                            <tr>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                                    Items
                                </th>
                                <th scope="col"
                                    class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">
                                    Quantity
                                </th>
                                <th scope="col"
                                    class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">
                                    Price
                                </th>
                                <th scope="col"
                                    class="py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">
                                    Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in invoice.items.all %}
                                <tr class="border-b border-gray-200">
                                    <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
                                        <div class="font-medium text-gray-900">{{ item.name }}</div>
                                        <div class="mt-1 truncate text-gray-500">{{ item.description|markdownify }}</div>
                                    </td>
                                    <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">{{ item.hours }}</td>
                                    <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">{{ item.price_per_hour }}</td>
                                    <td class="py-5 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0">
                                        {{ currency_symbol }}{{ item.get_total_price | floatformat:2 }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="row"
                                    colspan="3"
                                    class="hidden pl-4 pr-3 pt-6 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">
                                    Subtotal
                                </th>
                                <th scope="row"
                                    class="pl-6 pr-3 pt-6 text-left text-sm font-normal text-gray-500 sm:hidden">
                                    Subtotal
                                </th>
                                <td class="pl-3 pr-6 pt-6 text-right text-sm text-gray-500 sm:pr-0">
                                    {{ currency_symbol }}{{ invoice.get_subtotal }}
                                </td>
                            </tr>
                            {% if tax %}
                                {# todo add tax #}
                                <tr>
                                    <th scope="row"
                                        colspan="3"
                                        class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">
                                        Tax
                                    </th>
                                    <th scope="row"
                                        class="pl-6 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">
                                        Tax
                                    </th>
                                    <td class="pl-3 pr-6 pt-4 text-right text-sm text-gray-500 sm:pr-0">{{ currency_symbol }}0.00</td>
                                </tr>
                            {% endif %}
                            {% if invoice.discount %}
                                <tr>
                                    <th scope="row"
                                        colspan="3"
                                        class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">
                                        Discount
                                    </th>
                                    <th scope="row"
                                        class="pl-6 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">
                                        Discount
                                    </th>
                                    <td class="pl-3 pr-6 pt-4 text-right text-sm text-gray-500 sm:pr-0">-{{ invoice.discount }}%</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row"
                                    colspan="3"
                                    class="hidden pl-4 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell sm:pl-0">
                                    Total
                                </th>
                                <th scope="row"
                                    class="pl-6 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">
                                    Total
                                </th>
                                <td class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">
                                    {{ currency_symbol }}{{ invoice.get_total_price }}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- Payment Details -->
                <div class="text-sm text-gray-600 mt-16">
                    {% if invoice.account_holder_name %}
                        <p>
                            Account Holder Name: <span class="font-semibold ms-2">{{ invoice.account_holder_name }}</span>
                        </p>
                    {% endif %}
                    {% if invoice.account_number %}
                        <p>
                            Account Number: <span class="font-semibold ms-2">{{ invoice.account_number }}</span>
                        </p>
                    {% endif %}
                    {% if invoice.sort_code %}
                        <p>
                            Account Sort Code: <span class="font-semibold ms-2">{{ invoice.sort_code }}</span>
                        </p>
                    {% endif %}
                </div>
                <!--  Footer  -->
                {% if invoice.notes %}
                    <div class="border-t-2 pt-4 text-xs text-gray-500 text-center mt-4">
                        {#        Please pay the invoice before the due date. You can pay the invoice by logging in to your account from our client portal.#}
                        {{ invoice.notes|markdownify }}
                    </div>
                {% endif %}
                <!-- Credits -->
                <div class="border-t-2 pt-4 text-xs text-gray-500 text-center mt-4 print-ignore">
                    {# Print ignored #}
                    This invoice was generated with 💜 by
                    <a class="underline" href="https://github.com/TreyWW/MyFinances">MyFinances</a>
                    .
                </div>
            </div>
        </div>
    </body>
    <style>
    @media print {
        .print-ignore {
            display: none;
        }
    }
    </style>
</html>
