<style>
    @page {
        size: a4 portrait;
        margin: 10mm;
    }

    @page :left {
        @bottom-left {
            content: counter(page);
        }
    }

    body {
        font-family: "Inter", sans-serif;
        margin: 0;
        padding: 0;
    }

    .invoice-container {
        max-width: 80%;
        margin: 2rem auto;
        padding: 1.5rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    {#min-height: 100vh;#} color: black;
        page-break-inside: avoid;
    }

    table {
        page-break-inside: avoid;
    }

    nav.meta {
        margin-top: 4px
        border-top: 3px solid #7b1fa2;
        box-sizing: border-box;
        page-break-inside: avoid;
    }

    nav.meta .container {
        margin: 0 40px;
        padding: 30px 0;
        border-bottom: 1px solid #cbd5e1;
        display: flex;
        justify-content: space-between;
    }

    nav.meta aside {
        display: flex;
        align-items: center;
        gap: 30px;
        height: fit-content;
    }

    nav.meta aside h1 {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 15px;
    }

    nav.meta aside p {
        font-size: 16px;
        margin: 0;
        margin-bottom: 2px;
    }

    nav.meta .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    nav.meta .details .card {
        text-align: right;
    }

    nav.meta .details .card header {
        font-size: 9px;
        font-weight: 400;
        opacity: 0.8;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 5px;
    }

    nav.meta .details .card p {
        font-size: 11px;
        margin: 0;
    }

    main.bill {
        margin: 0 40px;
        padding: 30px 0;
        box-sizing: border-box;
    }

    main.bill header {
        font-size: 14px;
        font-weight: 400;
        opacity: 0.8;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 5px;
    }

    main.bill h1 {
        font-size: 20px;
        font-weight: 500;
        margin: 8px 0;
    }

    main.bill p {
        font-size: 14px;
        margin: 0;
    }

    main.bill p b {
        font-weight: 500;
    }

    main.bill table {
        border-collapse: collapse;
        width: 100%;
        margin: 50px 0;
        margin-bottom: 0;
    }

    main.bill table th {
        text-align: start;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        opacity: 0.8;
        padding: 15px 0;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    main.bill table th:nth-child(1) {
        width: 100%;
    }

    main.bill table th:nth-child(2) {
        min-width: 90px;
    }

    main.bill table th:nth-child(3) {
        min-width: 50px;
    }

    main.bill table th:nth-child(4) {
        min-width: 120px;
    }

    main.bill table th:last-child,
    main.bill table th:nth-last-child(2) {
        text-align: right;
    }

    main.bill table td {
        padding: 15px 0;
        vertical-align: top;
        border-bottom: 1px solid #bebebe;
        text-align: right;
    }

    main.bill table td:nth-child(1) {
        text-align: left !important;
        padding-right: 10px;
    }

    main.bill table td:nth-child(1) p {
        padding-top: 5px;
    }

    main.bill table td:nth-child(2) {
        text-align: left !important;
    }

    main.bill .summary {
        width: 50%;
        float: right;
    }

    main.bill .summary .card {
        padding: 15px 0;
        border-bottom: 1px solid #bebebe;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main.bill .summary .card header {
        margin-bottom: 0;
    }

    main.bill .summary .card h2 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }

    footer.payment {
        margin: 150px 40px;
        margin-bottom: 150px;
        box-sizing: border-box;
    }

    footer.payment h1 {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 20px;
    }

    footer.payment .card {
        margin-top: 15px;
    }

    footer.payment .card header {
        font-size: 14px;
        font-weight: 400;
        opacity: 0.8;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 5px;
    }

    footer.payment .card p {
        font-size: 14px;
        margin: 0;
    }

    footer.payment .card p b {
        font-weight: 500;
    }

    main.bill table {
        page-break-inside: auto;
        margin: 50px 0;
        margin-bottom: 0;
    }

    main.bill .summary {
        width: 50%;
        margin-top: 20px; /* Add margin to avoid float issue */
        page-break-inside: avoid;
    }

    main.bill footer.payment {
        margin: 150px 40px;
        margin-bottom: 150px;
        box-sizing: border-box;
        page-break-inside: avoid;
    }
</style>
