<div class="card col-span-1 lg:col-span-2 border border-neutral hidden md:flex">
    <div class="card-body py-4 px-2">
        <ul class="menu w-full min-h-full gap-y-1"
            hx-boost="true"
            hx-target='div[data-hx-swap="content"]'
            hx-swap="innerHTML"
            hx-vals='{"invoice_structure_main": "True"}'>
            {# LARGE #}
            <div class="divider hidden lg:flex">
                <i class="fa fa-solid fa-file-invoice"></i>
                Single
            </div>
            <li class="hidden lg:block">
                <a href="{% url 'invoices:single:dashboard' %}"
                   hx-replace-url="{% url 'invoices:single:dashboard' %}">
                    <i class="fa fa-solid fa-list-ol"></i>
                    View existing
                </a>
            </li>
            <li class="hidden lg:block">
                <a href="{% url 'invoices:single:create' %}"
                   hx-replace-url="{% url 'invoices:single:create' %}">
                    <i class="fa fa-solid fa-plus"></i>
                    New
                </a>
            </li>
            <div class="divider hidden lg:flex">
                <i class="fa fa-solid fa-sync-alt"></i>
                Recurring
            </div>
            <li class="hidden lg:block">
                <a href="{% url 'invoices:recurring:dashboard' %}"
                   hx-replace-url="{% url 'invoices:recurring:dashboard' %}">
                    <i class="fa fa-solid fa-list-ol"></i>
                    View existing
                </a>
            </li>
            <li class="hidden lg:block">
                <a href="{% url 'invoices:recurring:create' %}"
                   hx-replace-url="{% url 'invoices:recurring:create' %}">
                    <i class="fa fa-solid fa-plus"></i>
                    New
                </a>
            </li>
            {# SMALL #}
            <div class="divider flex lg:hidden mb-8">
                <i class="fa fa-solid fa-file-invoice"></i>
            </div>
            <li class="lg:hidden tooltip tooltip-right tooltip-secondary"
                data-tip="View single invoices">
                <a href="{% url 'invoices:single:dashboard' %}"
                   hx-replace-url="{% url 'invoices:single:dashboard' %}">
                    <i class="fa fa-solid fa-list-ol"></i>
                </a>
            </li>
            <li class="lg:hidden tooltip tooltip-right tooltip-secondary"
                data-tip="New invoice">
                <a href="{% url 'invoices:single:create' %}"
                   hx-replace-url="{% url 'invoices:single:create' %}">
                    <i class="fa fa-solid fa-plus"></i>
                </a>
            </li>
            <div class="divider flex lg:hidden"></div>
            <div class="divider mb-8 flex lg:hidden">
                <i class="fa fa-solid fa-sync-alt"></i>
            </div>
            <li class="lg:hidden tooltip tooltip-right tooltip-secondary"
                data-tip="View recurring invoices">
                <a href="{% url 'invoices:recurring:dashboard' %}"
                   hx-replace-url="{% url 'invoices:recurring:dashboard' %}">
                    <i class="fa fa-solid fa-list-ol"></i>
                </a>
            </li>
            <li class="lg:hidden tooltip tooltip-right tooltip-secondary"
                data-tip="New recurring invoice set">
                <a href="{% url 'invoices:single:dashboard' %}"
                   hx-replace-url="{% url 'invoices:single:dashboard' %}">
                    <i class="fa fa-solid fa-plus"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
