<div class="flex flex-row w-full gap-x-4 tabs tabs-boxed mb-2 bg-base-100 p-2">
    <a {% if request.resolver_match.view_name == 'finance:invoices:single:dashboard' %} class="w-full rounded-lg py-1 shrink btn btn-primary btn-sm shadow align-center" {% else %} class="w-full rounded-lg py-1 shadow-xl text-center align-center" {% endif %}
       href="{% url 'finance:invoices:single:dashboard' %}"
       hx-replace-url="{% url 'finance:invoices:single:dashboard' %}">Normal Invoices</a>
    <a {% if request.resolver_match.view_name == 'finance:invoices:recurring:dashboard' %} class="w-full rounded-lg py-1 shrink btn btn-primary btn-sm shadow align-center" {% else %} class="w-full rounded-lg py-1 shadow-xl text-center align-center" {% endif %}
       href="{% url 'finance:invoices:recurring:dashboard' %}"
       hx-replace-url="{% url 'finance:invoices:recurring:dashboard' %}">Recurring Invoice Profiles</a>
</div>
