{% load markdownify %}
{% load dashify contains from strfilters %}
<!DOCTYPE html>
<html lang="en">
    {% include "base/_head.html" %}
    <body class="bg-gray-50 text-gray-900 font-sans antialiased">
        <div class="flex h-screen w-full">
            <main class="h-full w-full overflow-y-auto pb-16">
                <div class="max-w-4xl mx-auto p-8 bg-white shadow-lg">
                    <div class="flex justify-between items-center mb-8 print:hidden">
                        {% if request.user.is_authenticated and not iframed %}
                            <a href="{% url 'finance:invoices:single:overview' invoice_id=invoice.id %}"
                               class="btn btn-secondary btn-sm">Back to invoice overview</a>
                        {% endif %}
                        {% if show_refresh_btn %}
                            <button onclick="window.location.reload()" class="btn btn-info btn-sm">Reload</button>
                        {% endif %}
                        <button onclick="window.print()" class="btn btn-primary btn-sm">Print Invoice</button>
                    </div>
                    <nav class="flex justify-between items-start mb-8 print:mb-0">
                        <aside class="flex items-center space-x-6">
                            {% if invoice.logo %}
                                <img src="{{ invoice.logo.url }}" alt="Company logo" class="h-28">
                            {% else %}
                                <img src="https://raw.githubusercontent.com/TreyWW/MyFinances/main/frontend/static/img/logo_single.png"
                                     alt="Company logo"
                                     class="h-28">
                            {% endif %}
                            <div>
                                <h1 class="text-2xl font-semibold">{{ invoice.self_company|default_if_none:invoice.self_name }}</h1>
                                <p>{{ invoice.self_phone|default_if_none:"" }}</p>
                                <p>{{ invoice.self_address|default_if_none:"" }}</p>
                                <p>{{ invoice.self_city|default_if_none:"" }}</p>
                                <p>{{ invoice.self_county|default_if_none:"" }}</p>
                                <p>{{ invoice.self_country|default_if_none:"" }}</p>
                                {% if invoice.vat_number %}<p>VAT: {{ invoice.vat_number }}</p>{% endif %}
                            </div>
                        </aside>
                        <section class="text-right space-y-4 invoice-details">
                            <div>
                                <p class="text-sm text-gray-500 uppercase tracking-wide">Invoice Ref</p>
                                <p>{{ invoice.reference|default:invoice.id }}</p>
                            </div>
                            <div>
                                <p class="text-sm text-gray-500 uppercase tracking-wide">Date Sent</p>
                                <p>{{ invoice.date_issued|date:"d/m/Y" }}</p>
                            </div>
                            <div>
                                <p class="text-sm text-gray-500 uppercase tracking-wide">Due By</p>
                                <p>{{ invoice.date_due|date:"d/m/Y" }}</p>
                            </div>
                            <div>
                                <p class="text-sm text-gray-500 uppercase tracking-wide">Amount Due</p>
                                <p class="font-bold">GBP {{ invoice.get_currency_symbol }}{{ invoice.get_total_price }}</p>
                            </div>
                        </section>
                    </nav>
                    <main class="mb-8 print:mb-0">
                        <!-- Bill To section -->
                        <div class="print:page-break-before:always">
                            {% with details=invoice.get_to_details %}
                                <h2 class="text-lg font-semibold mb-2">Bill To</h2>
                                {% include 'pages/invoices/single/view/_client-details.html' with c_type=details.0 c_details=details.1 %}
                            {% endwith %}
                        </div>
                        <!-- Invoice Items Table -->
                        <div class="overflow-x-auto">
                            <table class="w-full text-left border-t border-b my-8">
                                <thead class="bg-gray-100 text-sm uppercase">
                                    <tr>
                                        <th class="py-3 px-4">Description</th>
                                        <th class="py-3 px-4 text-right">Rate</th>
                                        <th class="py-3 px-4 text-right">QTY</th>
                                        <th class="py-3 px-4 text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="divide-y">
                                    {% for item in invoice.items.all %}
                                        <tr>
                                            <td class="py-3 px-4">
                                                <span class="block font-medium">{{ item.name }}</span>
                                                <small class="text-gray-500">{{ item.description|markdownify }}</small>
                                            </td>
                                            <td class="py-3 px-4 text-right">{{ invoice.get_currency_symbol }}{{ item.price_per_hour }}</td>
                                            <td class="py-3 px-4 text-right">{{ item.hours }}</td>
                                            <td class="py-3 px-4 text-right">
                                                {{ invoice.get_currency_symbol }}{{ item.get_total_price|floatformat:2 }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="py-3 px-4"></th>
                                        <th class="py-3 px-4 text-right"></th>
                                        <th class="py-3 px-4 font-semibold text-right">Subtotal</th>
                                        <th class="py-3 px-4 font-semibold text-right">
                                            {{ invoice.get_currency_symbol }}{{ invoice.get_subtotal }}
                                        </th>
                                    </tr>
                                    {% if invoice.tax %}
                                        <tr>
                                            <th class="py-3 px-4"></th>
                                            <th class="py-3 px-4"></th>
                                            <th class="py-3 font-semibold px-4 text-right">Tax:</th>
                                            <th class="py-3 font-semibold px-4 text-right">{{ invoice.get_currency_symbol }}{{ invoice.tax }}</th>
                                        </tr>
                                    {% endif %}
                                    {% if invoice.discount_percentage %}
                                        <tr>
                                            <th class="py-3 px-4"></th>
                                            <th class="py-3 px-4"></th>
                                            <th class="py-3 font-semibold px-4 text-right">Discount ({{ invoice.discount_percentage }}%):</th>
                                            <th class="py-3 font-semibold px-4 text-right">
                                                -{{ invoice.get_currency_symbol }}{{ invoice.get_percentage_amount }}
                                            </th>
                                        </tr>
                                    {% endif %}
                                    {% if invoice.discount_amount %}
                                        <tr>
                                            <th class="py-3 px-4"></th>
                                            <th class="py-3 px-4"></th>
                                            <th class="py-3 font-semibold px-4 text-right">
                                                Discount ({{ invoice.get_currency_symbol }}{{ invoice.discount_amount }}):
                                            </th>
                                            <th class="py-3 font-semibold px-4 text-right">
                                                -{{ invoice.get_currency_symbol }}{{ invoice.discount_amount }}
                                            </th>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <th class="py-3 px-4"></th>
                                        <th class="py-3 px-4"></th>
                                        <th class="py-3 px-4 text-right">Total:</th>
                                        <th class="py-3 px-4 text-right">{{ invoice.get_currency_symbol }}{{ invoice.get_total_price }}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </main>
                    <!-- Footer section -->
                    <footer class="mt-8 print:mt-0 flex flex-row">
                        <!-- Payment Details -->
                        {% if invoice.account_holder_name and invoice.account_number and invoice.sort_code %}
                            <div class="w-full sm:w-1/3 h-auto mb-4 sm:mb-0">
                                <h2 class="text-lg font-semibold mb-2">Payment Details</h2>
                                <div class="space-y-4">
                                    <div>
                                        <p class="text-sm text-gray-500 uppercase tracking-wide">Account Holder Name</p>
                                        <p>{{ invoice.account_holder_name }}</p>
                                    </div>
                                    <div>
                                        <p class="text-sm text-gray-500 uppercase tracking-wide">Account Number</p>
                                        <p>{{ invoice.account_number }}</p>
                                    </div>
                                    <div>
                                        <p class="text-sm text-gray-500 uppercase tracking-wide">Sort Code</p>
                                        <p>{{ invoice.sort_code }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Notes Section -->
                        {% if invoice.notes %}
                            <div class="">
                                <h2 class="text-lg font-semibold mb-2">Notes</h2>
                                <div class="rounded-lg">{{ invoice.notes|markdownify }}</div>
                            </div>
                        {% endif %}
                    </footer>
                </div>
                <!-- Tailwind print styles -->
                <style>
            @media print {
                /* Avoid large gaps before tables */
                .print\:page-break-before\:always {
                    page-break-before: auto;
                }

                /* Keep table rows together and include footers */
                table, tbody, tr {
                    page-break-inside: auto;
                }

                tfoot {
                    display: table-footer-group;
                }

                /* Ensure that footer rows are visible on each page */
                tfoot tr {
                    page-break-inside: avoid;
                }

                /* Hide elements not needed during print */
                .print\\:hidden {
                    display: none !important;
                }

                /* Ensure no extra margins or padding */
                body {
                    font-size: 12px;
                    margin: 0;
                }

                /* Remove shadows */
                .shadow-lg {
                    box-shadow: none;
                }
            }
                </style>
            </main>
        </div>
    </body>
</html>
