{% load static %}
<html data-theme="light">
{% include 'base/_head.html' %}
<body>
<div class="mt-32 mx-auto w-full max-w-screen-sm max-h-screen-sm overflow-y-clip">
    <div class="flex flex-col justify-center align-center items-center">
        <div class="absolute top-4 right-4 card p-5 bg-base-200 text-right">
            <div class="text-sm">
                {% block top-r-top %}{% endblock %}
            </div>
            {% block top-r-bottom %}{% endblock %}
        </div>
        <h2 class="text-4xl font-bold mb-2 text-center">
            {% block title %}
            {% endblock title %}
        </h2>
        {% include "base/toasts.html" %}
        <div class="w-96">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
</body>
</html>
