{% if breadcrumb %}
    <div class="breadcrumbs text-sm mb-4 -mt-4">
        <ul>
            {% for item in breadcrumb %}
                <li>
                    <a href="{{ item.url }}"
                       {% if forloop.last %}class="text-white"{% endif %}>
                        {% if item.icon %}<i class="fa-solid fa-{{ item.icon }} me-2"></i>{% endif %}
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
