{% extends base|default:"base/base.html" %}
{% load static %}
{% load markdownify %}
{% block content %}
    <div class="card bg-base-100 p-6">
        <div class="divider">STEP 1 - CHOOSE TEMPLATE</div>
        <div class="my-4 flex w-full flex-col">
            <div class="mb-2 grid grid-cols-1 md:grid-cols-2 gap-x-4">
                <a href="{% url 'invoices:create new' %}" class="btn-large-card flex flex-col items-center">
                    <span>Create a new invoice</span>
                </a>
                <div class="btn-large-card flex flex-col items-center group">
                    <span>Use a templated invoice</span>
                    <select required name="template" class="select select-bordered mt-4 w-1/2">
                        <option value="" selected disabled>Select a template</option>
                        <option value="1">TEST</option>
                    </select>
                    <button onclick="let select = this.parentNode.querySelector('select');
                        if (!select.value){return;};
                        window.location.href = `{% url 'invoices:create templated' %}?template=${select.value}`"
                            class="mt-2 btn btn-primary group-invalid:btn-disabled w-1/2">
                        Use Template
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
