{% if code %}
    <tr>
        <td>
            <a href="{% url "invoices view invoice" uuid=code %}"
               class="link link-secondary link-underline">{{ code }}</a>
        </td>
        <td>{{ created_on }}</td>
        <td>
            <span class="tooltip tooltip-top" data-tip="Delete Code">
                <button class="btn btn-error btn-outline btn-sm"
                        hx-delete="{% url 'invoices:manage_access delete' code=code %}"
                        hx-target="closest tr"
                        hx-swap="outerHTML">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </span>
        </td>
        {% if added %}<script>navigator.clipboard.writeText("{{ code }}");</script>{% endif %}
    </tr>
{% endif %}
{% component "messages_list" %}
