{% if design == "default" %}
    {% if status == "overdue" %}
        <span class="p-3 border-2 rounded-lg shadow-2xl drop-shadow-glow_red text-error border-error">
            <i class="fa-solid fa-exclamation-triangle mr-1"></i>
            <span>Overdue</span>
        </span>
    {% elif status == "pending" %}
        <span class="p-3 border-2 rounded-lg shadow-2xl text-base-400 border-base-400">
            <i class="fa-solid fa-hourglass-half mr-1"></i>
            <span>Pending</span>
        </span>
    {% elif status == "paid" %}
        <span class="p-3 border-2 rounded-lg shadow-2xl text-success border-success">
            <i class="fa-solid fa-check text-success mr-1"></i>
            <span>Paid</span>
        </span>
    {% else %}
        <span class="p-3 border-2 rounded-lg shadow-2xl">
            <span>{{ status }}</span>
        </span>
    {% endif %}
{% else %}
    {% if status == "paid" %}
        <span class="badge badge-outline rounded p-3 badge-success"
              data-status="paid"
              data-invoice-id="{{ inv_id }}">Paid</span>
    {% elif status == "overdue" %}
        <span class="badge badge-outline rounded p-3 badge-error drop-shadow-glow_red"
              data-status="overdue"
              data-invoice-id="{{ inv_id }}">Overdue</span>
    {% else %}
        <span class="badge badge-outline rounded p-3 badge-info"
              data-status="{{ invoice.payment_status | lower }}"
              data-invoice-id="{{ inv_id }}">{{ status | default:"sent" | title }}</span>
    {% endif %}
{% endif %}
