{% load humanize %}
{% load mathfilters %}
{% load feature_enabled %}
{% feature_enabled "isInvoiceSchedulingEnabled" as schedule_invoices_enabled %}
<tbody id="table_body">
    {% for invoice in invoices %}
        <tr>
            <td class="link link-primary no-underline">
                <a href="{% url "invoice overview" invoice_id=invoice.id %}">{{ invoice.id }}</a>
            </td>
            <td>{{ invoice.date_due | date:"d/m/Y" }}</td>
            <td>
                <div class="flex items-center text-sm">
                    <div>
                        {% with cli_name=invoice.client_to.name|default:invoice.client_name %}
                            {% if cli_name %}
                                <p class="font-semibold">{{ cli_name }}</p>
                            {% else %}
                                <p class="font-thin">No Client</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </td>
            <td>{{ invoice.get_currency_symbol }}{{ invoice.amount | default_if_none:0 | floatformat:2 | intcomma }}</td>
            <td>
                {% component "pages:invoices:dashboard:payment_status_badge" status=invoice.payment_status inv_id=invoice.id %}
            </td>
            <td colspan="2">
                {# The if statement for dropdown top goes as follows #}
                {# Use dropdown on top if these: #}
                {# - is last item           (and not first item) (and more than 4 items) #}
                <div class="dropdown dropdown-left {% if forloop.last and invoices.count > 4 %}dropdown-top{% endif %}">
                    <label tabindex="0" class="btn btn-primary btn-outline btn-sm">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </label>
                    <ul tabindex="0"
                        class="dropdown-content z-[1] menu wp-2 shadow-2xl bg-base-200 rounded-box w-52">
                        <li hx-boost="true">
                            <a href="{% url "invoice overview" invoice_id=invoice.id %}">
                                <i class="fa-solid fa-eye"></i>
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="{% url "invoices:preview" invoice_id=invoice.id %}">
                                <i class="fa-solid fa-file-pdf"></i>
                                Preview
                            </a>
                        </li>
                        <li>
                            <a href="{% url "invoices:manage_access" invoice_id=invoice.id %}">
                                <i class="fa-solid fa-key"></i>
                                Manage Access
                            </a>
                        </li>
                        <li>
                            <a href="{% url "invoices:edit" invoice_id=invoice.id %}">
                                <i class="fa-solid fa-pencil"></i>
                                Edit
                            </a>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <i class="fa-solid fa-flag"></i>
                                    Mark As
                                </summary>
                                <ul>
                                    <li>
                                        <button hx-swap="none"
                                                hx-post="{% url "api:invoices:edit status" invoice_id=invoice.id status='pending' %}">
                                            <i class="fa-solid fa-hourglass-half"></i>
                                            Pending
                                        </button>
                                    </li>
                                    <li>
                                        <button hx-swap="none"
                                                hx-post="{% url "api:invoices:edit status" invoice_id=invoice.id status='paid' %}">
                                            <i class="fa-solid fa-circle-check"></i>
                                            Paid
                                        </button>
                                    </li>
                                    <li>
                                        <button hx-swap="none"
                                                hx-post="{% url "api:invoices:edit status" invoice_id=invoice.id status='overdue' %}">
                                            <i class="fa-solid fa-exclamation-triangle"></i>
                                            Overdue
                                        </button>
                                    </li>
                                </ul>
                            </details>
                        </li>
                        {% if schedule_invoices_enabled %}
                            <li>
                                <a href="{% url "invoices:schedules view" invoice_id=invoice.id %}">
                                    <i class="fa-solid fa-clock"></i>
                                    Schedule
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <button hx-delete="{% url 'api:invoices:delete' %}"
                                    hx-target="closest tr"
                                    hx-confirm="Are you sure you would like to delete invoice #{{ invoice.id }}?"
                                    hx-vals='{"invoice": "{{ invoice.id }}" }'>
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% empty %}
        <td colspan="100%" class="text-center">No Invoices Found</td>
    {% endfor %}
</tbody>
{% for option in all_sort_options %}
    <div hx-swap-oob="innerHTML:li[data-sort='{{ option }}'] button">
        {% if sort == option or sort == "-"|add:option %}<i class="fa fa-solid fa-sort"></i>{% endif %}
        {% if option == "payment_status" %}
            Payment Status
        {% elif option == "date_due" %}
            Date
        {% elif option == "amount" %}
            Amount
        {% else %}
            ID
        {% endif %}
    </div>
{% endfor %}
{% for filter_type, inner_filters in all_filters.items %}
    {% for filter in inner_filters %}
        <div hx-swap-oob="innerHTML:div[data-filter-type='{{ filter_type }}'] ul li[data-filter-by='{{ filter }}'] button">
            {% if filter in selected_filters %}<i class="fa fa-solid fa-check text-success"></i>{% endif %}
            {{ filter | title }}
        </div>
    {% endfor %}
{% endfor %}
<div hx-swap-oob="innerHTML:#filter_list_storage">
    <input type="hidden"
           name="payment_status_paid"
           value="{% if 'paid' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="payment_status_pending"
           value="{% if 'pending' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="payment_status_overdue"
           value="{% if 'overdue' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="amount_20+"
           value="{% if '20+' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="amount_50+"
           value="{% if '50+' in selected_filters %}true{% endif %}">
    <input type="hidden"
           name="amount_100+"
           value="{% if '100+' in selected_filters %}true{% endif %}">
</div>
<div hx-swap-oob="innerHTML:#sort_direction_storage">
    <input type="hidden" name="sort_direction" value="{{ sort_direction }}">
</div>
