{% load humanize %}
{% load mathfilters %}
{% load feature_enabled %}
{% feature_enabled "isInvoiceSchedulingEnabled" as schedule_invoices_enabled %}
<tbody id="table_body">
    {% for invoice in invoices %}
        <tr class="hover cursor-pointer"
            hx-trigger="click"
            hx-boost="true"
            hx-target='div[data-hx-swap="content"]'
            hx-swap="innerHTML"
            hx-vals='{"invoice_structure_main": "True"}'
            hx-push-url="{% url "finance:invoices:single:overview" invoice_id=invoice.id %}"
            hx-get="{% url "finance:invoices:single:overview" invoice_id=invoice.id %}">
            <td class="link link-primary no-underline" td-value="{{ invoice.id }}">
                <a href="{% url "finance:invoices:single:overview" invoice_id=invoice.id %}">
                    {% if invoice.reference %}
                        {{ invoice.reference }}
                        <span class="tooltip text-neutral-content"
                              data-tip="This is the actual invoice ID">({{ invoice.id }})</span>
                    {% else %}
                        {{ invoice.id }}
                    {% endif %}
                </a>
            </td>
            <td>{{ invoice.date_due | date:"d/m/Y" }}</td>
            {% with cli_name=invoice.client_to.name|default:invoice.client_name %}
                <td td-value="{{ cli_name|default_if_none:"No Client" }}">
                    <div class="flex items-center text-sm">
                        <div>
                            {% if cli_name %}
                                <p class="font-semibold">{{ cli_name }}</p>
                            {% else %}
                                <p class="font-thin">No Client</p>
                            {% endif %}
                        </div>
                    </div>
                </td>
            {% endwith %}
            <td td-value="{{ invoice.get_total_price | default_if_none:0 }}">
                {{ invoice.get_currency_symbol }}{{ invoice.get_total_price | default_if_none:0 | floatformat:2 | intcomma }}
            </td>
            <td td-value="{{ invoice.dynamic_status }}">
                {% component "pages:invoices:dashboard:payment_status_badge" status=invoice.dynamic_status inv_id=invoice.id %}
            </td>
            <td colspan="2"
                onclick="const e = arguments[0] || window.event; e.stopPropagation();"
                class="cursor-default">
                {# The if statement for dropdown top goes as follows #}
                {# Use dropdown on top if these: #}
                {# - is last item           (and not first item) (and more than 4 items) #}
                <!-- Only last two invoices need a dropup -->
                <div class="dropdown dropdown-left {% if forloop.counter0 > 3 %}dropdown-top{% endif %}">
                    <label tabindex="0" class="btn btn-primary btn-outline btn-sm">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </label>
                    <ul tabindex="0"
                        class="dropdown-content z-[1] menu wp-2 shadow-2xl bg-base-200 rounded-box w-52">
                        <li hx-boost="true"
                            hx-push-url="{% url 'finance:invoices:single:overview' invoice_id=invoice.id %}">
                            <a href="{% url 'finance:invoices:single:overview' invoice_id=invoice.id %}">
                                <i class="fa-solid fa-eye"></i>
                                Overview
                            </a>
                        </li>
                        <li hx-push-url="{% url 'finance:invoices:single:preview' invoice_id=invoice.id %}">
                            <a target="_blank"
                               rel="noopener noreferrer"
                               href="{% url 'finance:invoices:single:preview' invoice_id=invoice.id %}">
                                <i class="fa-solid fa-file-pdf"></i>
                                Preview
                            </a>
                        </li>
                        <li hx-push-url="{% url 'finance:invoices:single:manage_access' invoice_id=invoice.id %}">
                            <a href="{% url 'finance:invoices:single:manage_access' invoice_id=invoice.id %}">
                                <i class="fa-solid fa-key"></i>
                                Manage Access
                            </a>
                        </li>
                        <li hx-push-url="{% url 'finance:invoices:single:edit' invoice_id=invoice.id %}">
                            <a href="{% url 'finance:invoices:single:edit' invoice_id=invoice.id %}">
                                <i class="fa-solid fa-pencil"></i>
                                Edit
                            </a>
                        </li>
                        <li hx-push-url="false">
                            <details>
                                <summary>
                                    <i class="fa-solid fa-flag"></i>
                                    Mark As
                                </summary>
                                <ul>
                                    <li>
                                        <button hx-swap="none"
                                                hx-post="{% url "api:finance:invoices:single:edit status" invoice_id=invoice.id status='draft' %}">
                                            <i class="fa-solid fa-note-sticky"></i>
                                            Draft
                                        </button>
                                    </li>
                                    <li>
                                        <button hx-swap="none"
                                                hx-post="{% url "api:finance:invoices:single:edit status" invoice_id=invoice.id status='pending' %}">
                                            <i class="fa-solid fa-hourglass-half"></i>
                                            Pending
                                        </button>
                                    </li>
                                    <li>
                                        <button hx-swap="none"
                                                hx-post="{% url "api:finance:invoices:single:edit status" invoice_id=invoice.id status='paid' %}">
                                            <i class="fa-solid fa-circle-check"></i>
                                            Paid
                                        </button>
                                    </li>
                                </ul>
                            </details>
                        </li>
                        <li hx-push-url="false">
                            <button hx-delete="{% url 'api:finance:invoices:single:delete' %}"
                                    hx-target="closest tr"
                                    hx-swap="delete"
                                    hx-confirm="Are you sure you would like to delete invoice #{{ invoice.id }}?"
                                    hx-vals='{"invoice": "{{ invoice.id }}" }'>
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% empty %}
        <td colspan="100%" class="text-center">No Invoices Found</td>
    {% endfor %}
</tbody>
