{% load feature_enabled %}
{% feature_enabled "isInvoiceSchedulingEnabled" as schedule_invoices_enabled %}
<div class="flex flex-col w-full lg:w-5/6 mx-auto">
    <div class="flex flex-col md:flex-row justify-between md:gap-3">
        <div class="flex items-start gap-3">
            <div>
                <a class="text-3xl text-neutral-800 dark:text-white break-words hover:link hover:link-secondary"
                   href="{% url 'finance:invoices:single:preview' invoice_id=invoice.id %}">
                    Invoice #{{ invoice.id }}
                    {% if invoice.reference %}({{ invoice.reference }}){% endif %}
                </a>
                <div class="mt-[2px]">
                    {% if invoice.status == "paid" %}
                        <span class="text-success">
                            <i class="fa fa-check"></i> Paid
                        </span>
                    {% elif invoice.status == "draft" %}
                        <span class="text-neutral-content">
                            <i class="fa fa-sticky-note"></i> Draft
                        </span>
                    {% else %}
                        {# pending or something else #}
                        <span class="text-neutral-content">
                            <i class="fa fa-hourglass-2"></i> {{ invoice.status | title }}
                        </span>
                    {% endif %}
                    &nbsp;·&nbsp;
                    Status last changed on
                    {{ invoice.status_updated_at | date:"F" | slice:":3" }}{{ invoice.status_updated_at | date:" jS, Y" }}
                    at
                    {{ invoice.status_updated_at | date:"g:i A" }}
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row gap-2 mt-8 items-center flex-start flex-wrap">
        <button hx-delete="{% url 'api:finance:invoices:single:delete' %}"
                hx-swap="none"
                hx-confirm="Are you sure you would like to delete invoice #{{ invoice.id }}?"
                hx-vals='{"invoice": "{{ invoice.id }}", "redirect": "/dashboard/invoices/"}'
                class="btn btn-sm btn-outline btn-error float-right">
            <i class="fa-solid fa-trash"></i>
            Delete
        </button>
        <a class="btn btn-sm btn-outline btn-default loading-htmx"
           target="_blank"
           rel="noopener noreferrer"
           href="{% url 'finance:invoices:single:preview' invoice_id=invoice.id %}">
            <span class="loading-htmx-text">
                <i class="fa-solid fa-up-right-from-square"></i>
                Preview Invoice
            </span>
            <span class="loading loading-spinner loading-htmx-loader"></span>
        </a>
        <a href="{% url "finance:invoices:single:edit" invoice_id=invoice.id %}"
           class="btn btn-sm btn-outline btn-default">
            <i class="fa-solid fa-edit"></i>
            Edit Invoice
        </a>
        <a href="{% url "finance:invoices:single:manage_access" invoice_id=invoice.id %}"
           class="btn btn-sm btn-outline btn-default">
            <i class="fa-solid fa-share-nodes"></i>
            Send Invoice
        </a>
        {% if schedule_invoices_enabled %}
            <a class="btn btn-outline btn-default btn-sm mr-4">
                <i class="fa-solid fa-clock"></i>
                Schedule Invoice
            </a>
        {% endif %}
        <div class="basis-[100%] h-0"></div>
        <div class="dropdown dropdown-right dropdown-hover flex">
            <div class="btn btn-primary btn-sm btn-outline" tabindex="0" role="button">
                <i class="fa-solid fa-flag"></i>
                Mark As
            </div>
            <ul tabindex="0"
                class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 border border-base-300">
                <li>
                    <button hx-swap="none"
                            hx-post="{% url "api:finance:invoices:single:edit status" invoice_id=invoice.id status='draft' %}">
                        <i class="fa-solid fa-note-sticky"></i>
                        Draft
                    </button>
                </li>
                <li>
                    <button hx-swap="none"
                            hx-post="{% url "api:finance:invoices:single:edit status" invoice_id=invoice.id status='pending' %}">
                        <i class="fa-solid fa-hourglass-half"></i>
                        Pending
                    </button>
                </li>
                <li>
                    <button hx-swap="none"
                            hx-post="{% url "api:finance:invoices:single:edit status" invoice_id=invoice.id status='paid' %}">
                        <i class="fa-solid fa-circle-check"></i>
                        Paid
                    </button>
                </li>
            </ul>
        </div>
        <button class="btn btn-secondary btn-outline btn-sm"
                hx-trigger="click once"
                hx-swap="beforeend"
                hx-target="#modal_container"
                _="on click call modal_invoices_edit_discount.showModal()"
                hx-get="{% url "api:base:modal retrieve with context" context_type="invoice" context_value=invoice.id modal_name="invoices_edit_discount" %}">
            <i class="fa fa-solid fa-pound-sign mr-2"></i>
            Edit Discount
        </button>
        <a class="btn btn-outline btn-sm" href="{{ clone_as_recurring_url }}">
            <i class="fa fa-clone"></i>
            Clone to Recurring Profile
        </a>
    </div>
    <div class="divider my-8"></div>
    <div class="w-full h-screen flex flex-row items-center justify-center">
        <iframe width="100%"
                class="h-full bg-transparent rounded-lg w-full"
                data-frame="invoice_preview"
                src="{% url 'finance:invoices:single:preview' invoice_id=invoice.id %}?iframe=true&show_refresh=true"
                allowtransparency="true"></iframe>
    </div>
</div>
