{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
    {% include 'partials/base/_head.html' %}
    <body>
        <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
            <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">
                <div class="flex flex-col overflow-y-auto md:flex-row">
                    <div class="h-32 md:h-auto md:w-1/2">
                        <img aria-hidden="true"
                             class="object-cover w-full h-full dark:hidden"
                             src="{% static 'img/create-account-office.jpeg' %}"
                             alt="Office" />
                        <img aria-hidden="true"
                             class="hidden object-cover w-full h-full dark:block"
                             src="{% static 'img/create-account-office-dark.jpeg' %}"
                             alt="Office" />
                    </div>
                    <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
                        <div class="w-full">
                            {% include 'base/toasts.html' %}
                            <h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">Create account</h1>
                            <form class="w-full group"
                                  method="post"
                                  novalidate
                                  onkeydown="return event.key != 'Enter';">
                                {% csrf_token %}
                                <label class="block text-sm">
                                    <span class="text-gray-700 dark:text-gray-400">Email</span>
                                    <input name="email"
                                           type="email"
                                           class="peer block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                           placeholder="jane@example.com"
                                           required
                                           pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                           value="{{ attempted_email }}" />
                                    <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                                        Please enter a valid email address
                                    </span>
                                </label>
                                <label class="block mt-4 text-sm">
                                    <span class="text-gray-700 dark:text-gray-400">Password</span>
                                    <input name="password"
                                           type="password"
                                           class="peer block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                           placeholder="***************"
                                           required
                                           minlength="8" />
                                    <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                                        Password should be at least 8 characters long
                                    </span>
                                </label>
                                <label class="block mt-4 text-sm">
                                    <span class="text-gray-700 dark:text-gray-400">Confirm password</span>
                                    <input name="confirm_password"
                                           type="password"
                                           class="peer block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                           placeholder="***************"
                                           required
                                           minlength="8" />
                                    <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):block">
                                        Password should be at least 8 characters long
                                    </span>
                                </label>
                                <div class="mt-6 flex text-sm">
                                    <label class="flex items-center dark:text-gray-400">
                                        <input type="checkbox"
                                               class="form-checkbox focus:shadow-outline-purple dark:focus:shadow-outline-gray peer text-purple-600 focus:border-purple-400 focus:outline-none"
                                               required />
                                        <span class="ml-2 underline decoration-red-500 peer-checked:no-underline">
                                            I agree to the
                                            <a href="{% url 'index' %}"
                                               class=" underline decoration-red-500 [.peer:checked~*_&]:decoration-gray-400 font-bold">
                                                terms of service
                                            </a>
                                        </span>
                                    </label>
                                </div>
                                <button type="submit"
                                        class="group-invalid:pointer-events-none group-invalid:disabled group-invalid:opacity-30 block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                    Create account
                                </button>
                            </form>
                            <hr class="my-8" />
                            {% include 'components/buttons/brand-button.html' with brand="Github" %}
                            {% include 'components/buttons/brand-button.html' with disabled=True brand="Microsoft" %}
                            <p class="mt-4">
                                <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                                   href="{% url 'auth:login' %}">Already have an account? Login</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
