{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en" class="overflow-hidden">
{% include 'base/_head.html' %}
<body>
<div class="navbar bg-base-100 p-4">
    <div class="navbar-start">
        <div class="grid justify-center sm:grid-cols-2 sm:items-center gap-4">
            <div class="flex items-center gap-x-3 md:gap-x-5">
                <a href="/">
                    <img src="{% static 'img/logo_single.png' %}" class="h-10">
                </a>
                <div class="grow">
                    <a class="md:text-xl text-gray-800 font-semibold dark:text-gray-200"
                       href="/">My Finances
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-end">
        <div class="text-center sm:text-left flex sm:justify-end sm:items-center gap-x-3 md:gap-x-4">
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary rounded-full" href="{% url "dashboard" %}">Dashboard</a>
                <a class="btn btn-outline rounded-full" href="{% url 'auth:logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-primary rounded-full"
                   href="{% url 'auth:login create_account' %}">Register
                </a>
                <a class="btn btn-outline rounded-full " href="{% url 'auth:login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="flex h-screen w-full bg-base-100"
     :class="{ 'overflow-hidden': isSideMenuOpen}">
    <main class="h-full w-full overflow-y-auto pb-16">
        <div class="navbar-sticky">
            <!-- Start block -->
            <section class="bg-base-200">
                <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
                    <div class="mr-auto place-self-center lg:col-span-7">
                        <h1 class="max-w-2xl mb-4 text-3xl font-extrabold leading-none tracking-tight md:text-4xl xl:text-5xl
                        dark:text-white">
                            Modernize your finances,<br>
                            Impress your customers
                        </h1>
                        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                            Elevate your hall management with Strelix. Effortlessly organize bookings, oversee schedules, and
                            maintain client details for a seamless, stress-free experience.
                        </p>
                        <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                            <a href="https://git.myfinances.cloud/" class="inline-flex items-center justify-center
                                        w-full
                                        px-5 py-3 text-sm font-medium text-center text-gray-900 border border-gray-200 rounded-lg sm:w-auto hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                                <i class="fa-brands fa-github mr-2"></i>
                                View on GitHub
                            </a>
                            <a class="inline-flex items-center justify-center w-full px-5 py-3 mb-2 mr-2 text-sm font-medium text-gray-900 bg-white
                                            border border-gray-200 rounded-lg sm:w-auto focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <i class="fa-brands fa-aws mr-2"></i>
                                Xyz
                            </a>
                        </div>
                    </div>
                    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                        <img src="{% static 'img/invoices.svg' %}" alt="Calendar">
                    </div>
                </div>
            </section>
            <!-- End block -->
            <!-- Start block -->
            <section class="bg-base-100">
                <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
                    <!-- Row -->
                    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
                        <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                            <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
                                Get a system that's <u>exactly</u> what you need
                            </h2>
                            <p class="mb-8 font-light lg:text-xl">
                                Each of our deployments are made fully tailored to your needs.
                                Anything from the design, to built in invoices, to implementation to your current website.
                                We help you get the fully custom experience.
                            </p>
                            <!-- List -->
                            <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                                <li class="flex space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                            Customer Support 24/7
                        </span>
                                </li>
                                <li class="flex space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                            Unlimited staff accounts; manage permissions + more
                        </span>
                                </li>
                                <li class="flex space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                            Unlimited revisions; get the system <u>exactly</u> how <u>you</u> want it
                        </span>
                                </li>
                            </ul>
                            <p class="mb-8 font-light lg:text-xl">
                                Give us your ideas, and we'll turn them into a reality.
                                <br>
                                Stand out from the crowd.
                            </p>
                        </div>
                        <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="{% static 'img/mobile_login.svg' %}"
                             alt="stand out">
                    </div>
                    <!-- Row -->
                    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
                        <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="{% static 'img/invoices.svg' %}"
                             alt="data storage image">
                        <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                            <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
                                We invest with our effort
                            </h2>
                            <p class="mb-8 font-light lg:text-xl">
                                Come up with the best ideas that will help your business,
                                and we'll put in all of our effort to make it happen.
                            </p>
                            <!-- List -->
                            <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                                <p class="font-light text-sm">These are our popular features:</p>

                                <li class="flex space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                            Data Storage
                        </span>
                                </li>
                                <li class="flex space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                            Online Enquiry Forms
                        </span>
                                </li>
                                <li class="flex space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                            Online Transactions
                        </span>
                                </li>
                                <li class="flex space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                            Financial Tracking
                        </span>
                                </li>
                                <li class="flex space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">
                            Set days to be unavailable
                        </span>
                                </li>
                            </ul>
                            <p class="font-light lg:text-xl">
                                And this isn't all we offer... <u>We do anything.</u>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End block -->
            <!-- Start block -->
            <section class="bg-white dark:bg-gray-900">
                <div
                    class="items-center max-w-screen-xl px-4 py-8 mx-auto lg:grid lg:grid-cols-4 lg:gap-16 xl:gap-24 lg:py-24 lg:px-6">
                    <div class="col-span-2 mb-8">
                        <p class="text-lg font-medium text-purple-600 dark:text-purple-500">
                            Our clients love these features
                        </p>
                        <h2 class="mt-3 mb-4 text-3xl font-extrabold tracking-tight text-gray-900 md:text-3xl dark:text-white">
                            We make sure not to include anything you don't want. Only store the details you need.
                        </h2>
                        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
                            Our team focuses on making sure you're happy with the product,
                            and that you can get work done as quickly as possible.
                        </p>
                        <div class="pt-6 mt-6 space-y-4 border-t border-gray-200 dark:border-gray-700">
                            <div>
                                <a href="#"
                                   class="inline-flex items-center text-base font-medium text-purple-600 hover:text-purple-800 dark:text-purple-500 dark:hover:text-purple-700">
                                    Explore Legality Guide
                                    <svg class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="#"
                                   class="inline-flex items-center text-base font-medium text-purple-600 hover:text-purple-800 dark:text-purple-500 dark:hover:text-purple-700">
                                    Visit the Trust Center
                                    <svg class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-2 space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0">
                        <div>
                            <i class="fa-solid fa-cloud fa-2xl h-5 mb-2 text-purple-600 dark:text-purple-500"></i>
                            <h3 class="mb-2 text-2xl font-bold dark:text-white">
                                Daily Backups
                            </h3>
                            <p class="font-light text-gray-500 dark:text-gray-400">
                                Daily backups for all of your data to keep all of your work safe.
                                Mistakes can be made, but we're here to help you undo them
                            </p>
                        </div>
                        <div>
                            <i class="fa-solid fa-calendar fa-2xl h-5 mb-2 text-purple-600 dark:text-purple-500"></i>
                            <h3 class="mb-2 text-2xl font-bold dark:text-white">
                                Fully Live Calendar
                            </h3>
                            <p class="font-light text-gray-500 dark:text-gray-400">
                                View your added events on the calendar straight away,
                                your customers don't even need to refresh the page
                            </p>
                        </div>
                        <div>
                            <i class="fa-solid fa-user fa-2xl h-5 mb-2 text-purple-600 dark:text-purple-500"></i>
                            <h3 class="mb-2 text-2xl font-bold dark:text-white">
                                Manage Customer Data
                            </h3>
                            <p class="font-light text-gray-500 dark:text-gray-400">
                                We allow you to choose what details you store, access them at any time,
                                and delete them when you no longer need them
                            </p>
                        </div>
                        <div>
                            <i class="fa-solid fa-clock fa-2xl h-5 mb-2 text-purple-600 dark:text-purple-500"></i>
                            <h3 class="mb-2 text-2xl font-bold dark:text-white">
                                Regular Updates
                            </h3>
                            <p class="font-light text-gray-500 dark:text-gray-400">
                                Our team works regularly to increase performance,
                                make changes you need as soon as possible,
                                and improve the user experience
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End block -->
            <!-- Start block -->
            <section class="bg-gray-50 dark:bg-gray-800">
                <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-24 lg:px-6">
                    <figure class="max-w-screen-md mx-auto">
                        <i class="fa-sharp fa-solid fa-quote-left text-6xl fa-2xl text-gray-400"></i>
                        <blockquote>
                            <p class="text-xl font-medium text-gray-900 md:text-2xl dark:text-white">
                                "Some review that needs to be added"
                            </p>
                        </blockquote>
                        <figcaption class="flex items-center justify-center mt-6 space-x-3">
                            <img class="w-6 h-6 rounded-full" src="" alt="profile picture">
                            <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                <div class="pr-3 font-medium text-gray-900 dark:text-white">
                                    Persons name!
                                </div>
                                <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">
                                    Persons role!
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </section>
            <!-- End block -->
            <!-- Start block -->
            <section class="bg-white dark:bg-gray-900">
                <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
                    <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
                        <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
                            Designed as a custom solution for communies like yours
                        </h2>
                        <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                            Here at Strelix, we provide a <u>custom solution for all of your needs</u>;
                            whether you're a community centre, village hall,
                            church hall or something different...
                            <span class="font-medium">we can help you!</span>

                            Anything from a <u>simple</u> booking system to an <u>advanced</u> booking management system with
                            invoice generation and payment processing.
                        </p>
                    </div>
                    <!-- Pricing cards -->
                    {#        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">#}
                    {#            <!-- Pricing Card -->#}
                    {#            <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">#}
                    {#                <h3 class="mb-4 text-2xl font-semibold">Starter</h3>#}
                    {#                <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Best option for personal use & for your next project.</p>#}
                    {#                <div class="flex items-baseline justify-center my-8">#}
                    {#                    <span class="mr-2 text-5xl font-extrabold">$29</span>#}
                    {#                    <span class="text-gray-500 dark:text-gray-400">/month</span>#}
                    {#                </div>#}
                    {#                <!-- List -->#}
                    {#                <ul role="list" class="mb-8 space-y-4 text-left">#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Individual configuration</span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>No setup, or hidden fees</span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Team size: <span class="font-semibold">1 developer</span></span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Premium support: <span class="font-semibold">6 months</span></span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Free updates: <span class="font-semibold">6 months</span></span>#}
                    {#                    </li>#}
                    {#                </ul>#}
                    {#                <a href="#" class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-purple-900">Get started</a>#}
                    {#            </div>#}
                    {#            <!-- Pricing Card -->#}
                    {#            <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">#}
                    {#                <h3 class="mb-4 text-2xl font-semibold">Company</h3>#}
                    {#                <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Relevant for multiple users, extended & premium support.</p>#}
                    {#                <div class="flex items-baseline justify-center my-8">#}
                    {#                    <span class="mr-2 text-5xl font-extrabold">$99</span>#}
                    {#                    <span class="text-gray-500 dark:text-gray-400 dark:text-gray-400">/month</span>#}
                    {#                </div>#}
                    {#                <!-- List -->#}
                    {#                <ul role="list" class="mb-8 space-y-4 text-left">#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Individual configuration</span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>No setup, or hidden fees</span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Team size: <span class="font-semibold">10 developers</span></span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Premium support: <span class="font-semibold">24 months</span></span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Free updates: <span class="font-semibold">24 months</span></span>#}
                    {#                    </li>#}
                    {#                </ul>#}
                    {#                <a href="#" class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-purple-900">Get started</a>#}
                    {#            </div>#}
                    {#            <!-- Pricing Card -->#}
                    {#            <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">#}
                    {#                <h3 class="mb-4 text-2xl font-semibold">Enterprise</h3>#}
                    {#                <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Best for large scale uses and extended redistribution rights.</p>#}
                    {#                <div class="flex items-baseline justify-center my-8">#}
                    {#                    <span class="mr-2 text-5xl font-extrabold">$499</span>#}
                    {#                    <span class="text-gray-500 dark:text-gray-400">/month</span>#}
                    {#                </div>#}
                    {#                <!-- List -->#}
                    {#                <ul role="list" class="mb-8 space-y-4 text-left">#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Individual configuration</span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>No setup, or hidden fees</span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Team size: <span class="font-semibold">100+ developers</span></span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Premium support: <span class="font-semibold">36 months</span></span>#}
                    {#                    </li>#}
                    {#                    <li class="flex items-center space-x-3">#}
                    {#                        <!-- Icon -->#}
                    {#                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
                    {#                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>#}
                    {#                        </svg>#}
                    {#                        <span>Free updates: <span class="font-semibold">36 months</span></span>#}
                    {#                    </li>#}
                    {#                </ul>#}
                    {#                <a href="#" class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-purple-900">Get started</a>#}
                    {#            </div>#}
                    {#        </div>#}
                </div>
            </section>
            <!-- End block -->
            <!-- Start block -->
            <section class="bg-white dark:bg-gray-900">
                <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-24 lg:px-6 ">
                    <h2 class="mb-6 text-3xl font-extrabold tracking-tight text-center text-gray-900 lg:mb-8 lg:text-3xl dark:text-white">
                        Frequently asked questions</h2>
                    <div class="max-w-screen-md mx-auto">
                        <div id="accordion-flush" data-accordion="collapse"
                             data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
                             data-inactive-classes="text-gray-500 dark:text-gray-400">
                            <h3 id="accordion-flush-heading-1">
                                <button type="button"
                                        class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-900 bg-white border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900 dark:text-white"
                                        data-accordion-target="#accordion-flush-body-1" aria-expanded="true"
                                        aria-controls="accordion-flush-body-1">
                                    <span>What can I do with Strelix?</span>
                                    <i class="fa-solid fa-angle-down mr-2" data-accordion-icon=""></i>
                                </button>
                            </h3>
                            <div id="accordion-flush-body-1" class="" aria-labelledby="accordion-flush-heading-1">
                                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                                        Strelix offers a powerful suite of hall management tools. Streamline bookings, manage
                                        schedules, and maintain client details effortlessly for a seamless hall management
                                        experience. Strelix simplifies the way you manage your hall.
                                    </p>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        Learn more about how Strelix can optimize your hall management process by
                                        <a href=""
                                           class="text-purple-600 dark:text-purple-500 hover:underline">sending us an enquiry
                                        </a>
                                        ! We are always happy to help with whatever you need.
                                    </p>
                                </div>
                            </div>
                            <h3 id="accordion-flush-heading-2">
                                <button type="button"
                                        class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                                        data-accordion-target="#accordion-flush-body-2" aria-expanded="false"
                                        aria-controls="accordion-flush-body-2">
                                    <span>What domains are compatible with Strelix?</span>
                                    <i class="fa-solid fa-angle-down mr-2" data-accordion-icon=""></i>
                                </button>
                            </h3>
                            <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                                        Strelix offers flexibility in domain usage. You can use one of our subdomains, such as
                                        <strong>mysite</strong>.strelix.org, or your own custom domain, like
                                        <strong>mysite.com</strong>. We accommodate your domain preferences to suit your needs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End block -->
            <!-- Start block -->
            <section class="bg-gray-50 dark:bg-gray-800">
                <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
                    <div class="max-w-screen-sm mx-auto text-center">
                        <h2 class="mb-4 text-3xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white">
                            Get your quote today
                        </h2>
                        <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">
                            Speak to our core developer, and get a free quote.
                        </p>
                        <a href="mailto:bookingsystem-enquiry@strelix.org"
                           class="text-purple-600 dark:text-purple-500 hover:underline">
                            Send us an email
                        </a>
                        <p class="mb-4">or submit an</p>
                        <a href=""
                           class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800">
                            Online Enquiry Form
                        </a>
                    </div>
                </div>
            </section>
            <!-- End block -->
        </div>
    </main>
</div>
</body>
</html>
