{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
    {% include 'base/_head.html' %}
    <body>
        <div class="navbar bg-base-100 p-4">
            <div class="navbar-start">
                <div class="grid justify-center sm:grid-cols-2 sm:items-center gap-4">
                    <div class="flex items-center gap-x-3 md:gap-x-5">
                        <a href="/">
                            <img src="{% static 'img/logo_single.png' %}" class="h-10">
                        </a>
                        <div class="grow">
                            <a class="md:text-xl text-gray-800 font-semibold dark:text-gray-200"
                               href="/">{% trans "My Finances" %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="text-center sm:text-left flex sm:justify-end sm:items-center gap-x-3 md:gap-x-4">
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-primary rounded-full" href="{% url "dashboard" %}">{% trans "Dashboard" %}</a>
                        <a class="btn btn-outline rounded-full" href="{% url 'auth:logout' %}">{% trans "Logout" %}</a>
                    {% else %}
                        <a class="btn btn-primary rounded-full"
                           href="{% url 'auth:login create_account' %}">{% trans "Register" %}</a>
                        <a class="btn btn-outline rounded-full " href="{% url 'auth:login' %}">{% trans "Login" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex h-screen w-full bg-base-200"
             :class="{ 'overflow-hidden': isSideMenuOpen}">
            <main class="h-full w-full overflow-y-auto pb-16">
                <div class="navbar-sticky">
                    <div class="text-4xl center text-center mt-8">
                        <p>{% trans "We're still in development!" %}</p>
                        <a class="btn btn-lg btn-primary mt-3" href="/dashboard/">{% trans "Go to dashboard" %}</a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
