{% load static %}
<!DOCTYPE html>
<html>
    {% include 'base/_head.html' %}
    <body>
        <div class="flex items-center min-h-screen p-6 justify-center bg-base-200">
            <div class="card bg-base-100 w-[60%] center">
                <form class="card-body group"
                      method="post"
                      action="{% if type != "change" %}{% url "user set password set" secret=secret %}{% endif %}"
                      novalidate>
                    {% csrf_token %}
                    <div class="py-10 px-10">
                        {% include 'base/toasts.html' %}
                        <h2 class="text-2xl font-semibold mb-2 text-center">Change password</h2>
                        <div class="mb-4">
                            <div class="form-control w-full mt-4">
                                <label class="label">Current Password</label>
                                <input required
                                       type="password"
                                       name="current_password"
                                       placeholder="********"
                                       class="input input-bordered w-full">
                            </div>
                            <div class="form-control w-full mt-4">
                                <label class="label">New Password</label>
                                <input required
                                       type="password"
                                       minlength="6"
                                       name="password"
                                       placeholder="********"
                                       class="peer input input-bordered w-full">
                                <label class="label peer-[&amp;:not(:placeholder-shown):not(:focus):invalid]:block hidden">
                                    <span class="label-text-alt text-error">Please enter a strong password.</span>
                                </label>
                            </div>
                            <div class="form-control w-full mt-4">
                                <label class="label">Confirm New Password</label>
                                <input required
                                       type="password"
                                       minlength="6"
                                       name="confirm_password"
                                       placeholder="********"
                                       class="peer input input-bordered w-full">
                                <label class="label peer-[&amp;:not(:placeholder-shown):not(:focus):invalid]:block hidden">
                                    <span class="label-text-alt text-error">
                                    Please enter a strong password &amp; make sure it matches with the password above.</span>
                                </label>
                            </div>
                        </div>
                        <p class="text-center  text-error mt-8"></p>
                        <button type="submit"
                                class="btn mt-2 w-full btn-primary group-invalid:btn-disabled">
                            Submit
                        </button>
                        <div class="group/account text-center mt-4">
                            Don't want to change your password?
                            <a href="/dashboard/"
                               class="my-4 group text-secondary transition duration-300">
                                Go back
                                <span class="my-2 block max-w-0 group-hover/account:max-w-full transition-all duration-500 h-0.5 bg-secondary"></span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
