{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }"
      x-data="data()"
      lang="en">
{% include 'partials/base/_head.html' %}
<body>
<div class="flex items-center min-h-screen p-6 justify-center">
    <div class="card max-w-screen-md center">
        <form class="card-body group" method="post" action="{% if type != "change" %}{% url "user set password set" secret=secret %}{% endif %}" novalidate>
     {% include 'partials/base/toasts.html' %}

            <div class="card-title">Change Password</div>
            {% csrf_token %}
            <div class="form-group">
                <div class="form-filed">
                    <label class="form-label">New Password</label>
                    <input
                            name="password"
                            type="password"
                            class="peer max-w-full input mt-1"
                            placeholder="***************"
                            required
                            minlength="8"
                    />
                    <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):invalid]:block">
                      Password should be at least 8 characters long
                    </span>
                </div>
                <div class="form-filed">
                    <label class="form-label">Confirm Password</label>
                    <input
                            name="confirm_password"
                            type="password"
                            class="peer max-w-full input mt-1"
                            placeholder="***************"
                            required
                            minlength="8"
                    />
                    <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):invalid]:block">
                      Password should be at least 8 characters long
                    </span>
                </div>
                <button class="btn btn-secondary group-invalid:pointer-events-none group-invalid:opacity-30">Change Password</button>
                <a class="link link-underline-hover link-secondary font-medium text-sm" href="{% url 'user settings' %}">Go Back</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
