{% load humanize %}
{% for client in clients %}
    {% csrf_token %}
    <tr>
        <td>
            <a class="link link-primary no-underline"
               href="{% url 'clients:detail' id=client.id %}">{{ client.id }}</a>
        </td>
        <td colspan="2">{{ client.name }}</td>
        <td colspan="2">
            <div class="flex flex-wrap gap-2">
                <div class="tooltip" data-tip="Edit">
                    <button class="btn btn-outline btn-success btn-sm btn-disabled">
                        <i class="fa fa-solid fa-pencil"></i>
                    </button>
                </div>
                <div class="tooltip" data-tip="View Client">
                    <a href="{% url 'clients:detail' id=client.id %}"
                       class="btn btn-outline btn-sm">
                        <i class="fa fa-solid fa-eye"></i>
                    </a>
                </div>
                <div class="tooltip" data-tip="Delete Client">
                    <button class="btn btn-outline btn-error btn-sm"
                            hx-delete="{% url 'api:clients:delete' id=client.id %}"
                            hx-target="closest tr"
                            hx-confirm="Are you sure you would like to delete this client?">
                        <i class="fa fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </td>
    </tr>
{% empty %}
    <td colspan="100%" class="text-center">
        No clients found.
        <br>
        <a class="btn btn-sm btn-primary mt-3" href="{% url 'clients:create' %}">
            <i class="fa fa-plus"></i>
            Create one
        </a>
    </td>
{% endfor %}
