{% extends base|default:"base/base.html" %}
{% csrf_token %}
{% block content %}
    <form id="filter_list_storage">
    </form>
    <div class="card bg-base-100 p-6 mb-4 h-screen">
        <h2 class="text-xl">Receipts</h2>
        <button onclick="modal_receipts_upload.showModal();"
                id="upload_receipt_button"
                class="btn btn-primary btn-block my-3 loading-htmx"
                for="upload_receipt"
                hx-trigger="click once"
                hx-swap="beforeend"
                hx-target="#modal_container"
                hx-get="{% url "api:base:modal retrieve with context" modal_name="receipts_upload" context_type="upload_receipt" context_value="init" %}">
            <span class="loading-htmx-text"><i class="fa-solid fa-receipt pe-1"></i> Upload Receipt</span>
            <span id="currency_save_loading"
                  class="loading loading-spinner loading-htmx-loader"></span>
        </button>
        {% include 'pages/receipts/_search.html' %}
        <div id="items"
             hx-swap="outerHTML"
             hx-trigger="load"
             hx-get="{% url 'api:finance:receipts:fetch' %}">
            <div id="items">{% include 'components/table/skeleton_table.html' %}</div>
        </div>
    </div>
{% endblock content %}
