@tailwind base;
@tailwind components;
@tailwind utilities;

.circle-tick {
    @apply inline-flex;
    @apply p-1;
    @apply mr-3;
    @apply rounded-full;
    @apply w-6;
    @apply h-6;
    @apply items-center;
    @apply justify-center;
}

.modal-responsive {
    @apply modal-bottom;
    @apply sm:modal-middle;
}

.input_card {
    @apply rounded-full;
    @apply border;
    @apply border-gray-900;
    @apply card;
    @apply me-3;
    @apply hover:border-gray-500 w-full;
}

.required_star {
    @apply text-red-400;
    @apply float-left;
    @apply text-left;
    @apply ms-1;
}

.avatar-img-ring {
    @apply ring;
    @apply ring-primary;
    @apply focus:ring-offset-4;
    @apply hover:ring-offset-4;
    @apply ring-offset-base-100;
    @apply ring-offset-2;
    @apply rounded-full;
}

.dropdown ul.dropdown-content {
    @apply z-[1];
    @apply menu;
    @apply p-2;
    @apply shadow;
    @apply bg-base-200;
    @apply gap-y-1;
    @apply rounded-box;
    @apply w-52;
}

.btn-large-card {
    @apply my-4;
    @apply py-8;
    @apply w-full;
    @apply max-w-full;
    @apply min-w-full;
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply w-full;
    @apply px-5;
    @apply text-lg;
    @apply font-medium;
    @apply text-center;
    @apply text-gray-900;
    @apply border;
    @apply border-gray-200;
    @apply rounded-lg;
    @apply sm:w-auto;
    @apply hover:bg-gray-100;
    @apply focus:ring-4;
    @apply focus:ring-gray-100;
    @apply dark:text-white;
    @apply dark:border-gray-700;
    @apply dark:hover:bg-gray-700;
    @apply dark:focus:ring-gray-800;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    @apply bg-clip-text;
    @apply text-transparent;
}

/***************************/
/*       SCROLL BARS       */
/***************************/

/* width */
.custom_scroll ::-webkit-scrollbar {
    @apply w-[10px];
}

/* Track */
.custom_scroll ::-webkit-scrollbar-track {
}

/* Handle */
.custom_scroll ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
.custom_scroll ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* PLACEHOLDERS */

.input::placeholder {
    color: #787d86;
    opacity: 0.8;
}

.textarea::placeholder {
    color: #787d86;
    opacity: 0.8;
}

/****************************/
/*       HTMX LOADING       */
/****************************/

/* Show button text when not loading*/
.loading-htmx .loading-htmx-text {
    display: inline-block;
}

/* Hide button text when loading */
.loading-htmx.htmx-request .loading-htmx-text {
    display: none;
}

/* Disabled  button when loading */
button.loading-htmx.htmx-request {
    cursor: not-allowed;
    @apply btn-disabled;
}

/* Hide loading spinner when not loading */
.loading-htmx .loading-htmx-loader {
    display: none;
}

/* Show loading spinner when loading */
.loading-htmx-loader-individual.htmx-request {
    display: inline-block;
}

/* Hide loading spinner when not loading */

.loading-htmx-loader-individual {
    display: none;
}

/* Show loading spinner when loading */

.loading-htmx.htmx-request .loading-htmx-loader {
    display: inline-block;
}


/* *** CORE LOADER (TOP) ****/

@layer components {
    .loading-bar {
        @apply fixed top-0 left-0 w-full h-1 opacity-0;
        background: linear-gradient(90deg, transparent, #9375ff, transparent, rgba(149, 11, 183, 0.58), transparent);
    }

    .htmx-request.loading-bar {
        @apply opacity-100;
        animation: fadeIn 0.5s linear forwards, slide 2s ease-in-out infinite;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(50%);
        }
        50% {
            transform: translateX(100%);
        }
        75% {
            transform: translateX(50%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

@keyframes hideLoading {
    0% {
        display: inline;
    }
    100% {
        display: none;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(90px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-90px);
    }
}

.slide-it {
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* Banner */

.gradient_button {
    @apply bg-gradient-to-r from-[#6f26ff] to-[#db93db] hover:from-[#6874fc] hover:to-[#80e1ff] text-white;
}


