<li>
    <a class="btn btn-sm me-2 gradient_button" download>
        <i class="fa-solid fa-download me-2"></i>
        <p class="options-text">Download</p>
    </a>
</li>
<li>
    <button onclick="window.print()" class="btn btn-sm gradient-btn me-2">
        <i class="fa-solid fa-print me-2"></i>
        <p class="options-text">Print</p>
    </button>
</li>
{% if request.user.is_authenticated %}
    <li>
        <a class="btn btn-sm gradient-btn me-8 share-btn"
           href="{% url "finance:invoices:single:manage_access" invoice_id=invoice.id %}">Share Invoice</a>
    </li>
{% endif %}
