{% extends 'base/auth.html' %}
{% load static %}

{% block image %}
    {% static 'img/mobile_login.svg' %}
{% endblock image %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-1">
            <div class="form-control w-full mt-4">
                <label class="label">
                    <span class="label-text text-base-content undefined">
                        Email Address
                    </span>
                </label>
                <input required type="email" name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                       placeholder="jsmith@example.com"
                       class="peer input input-bordered w-full" value="{{ attempted_email|default_if_none:'' }}">
                <label class="label peer-[&amp;:not(:placeholder-shown):not(:focus):invalid]:block hidden">
                    <span class="label-text-alt text-error">Please enter a valid email.</span>
                </label>
            </div>
            <div class="form-control w-full mt-4">
                <label class="label">
                    <span class="label-text text-base-content undefined">
                        Password
                    </span>
                </label>
                <input required type="password" name="password" placeholder="********" class="input input-bordered w-full">
            </div>
        </div>
        <div class="text-right text-secondary">
            <a href="{% url "login forgot_password" %}">
                <span class="text-sm inline-block hover:underline hover:cursor-pointer transition duration-200">
                    Forgot Password?
                </span>
            </a>
        </div>
        <p class="text-center  text-error mt-8"></p>
        <button type="submit" class="btn mt-2 w-full btn-primary">Login</button>
        <div class="text-center mt-4">
            Don't have an account yet?
            <a href="{% url 'login create_account' %}" class="my-4 group text-secondary transition duration-300">
                Create one!
                <span class="my-2 block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-secondary">
                </span>
            </a>
            <a href="{% url 'index' %}" class="text-primary inline-block">Back to homepage</a>
        </div>
        {% if github_enabled %}
            <a href="{% url 'social:begin' 'github' %}" class="btn-large-card">
                <i class="fa-brands fa-github mr-2"></i>
                Login with github
            </a>
        {% endif %}
        {% if google_enabled %}
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn-large-card">
                <i class="fa-brands fa-google mr-2 text-orange-500"></i>
                Login with google
            </a>
        {% endif %}
    </form>
{% endblock %}