{% extends 'base/base.html' %}
{% block content %}
    <input type="hidden" name="invoice_id" value="{{ invoice.id }}" />
    <form id="filter_schedules_list_storage">
    </form>
    <form id="filter_reminders_list_storage">
    </form>
    <div class="mb-4 p-6 shadow-xl card bg-base-100">
        <div class="grid w-full grid-cols-3 text-3xl">
            <div>
                <a href="{% url "invoices:dashboard" %}"
                   class="float-left btn btn-sm btn-outline btn-secondary me-3">Back to invoices</a>
            </div>
            <h1 class="col-span-2 text-left">Schedules for Invoice #{{ invoice.id }}</h1>
        </div>
    </div>
    {% include "pages/invoices/schedules/containers/reminders.html" %}
    <h2 class="mb-4 text-center text-3xl">One Time</h2>
    <div class="grid grid-cols-2 gap-x-4">
        {% include "pages/invoices/schedules/containers/onetime_schedule_list.html" %}
        {% include "pages/invoices/schedules/containers/onetime_schedule_create.html" %}
    </div>
{% endblock content %}
