{% extends base|default:"base/base.html" %}
{% block content %}
    <input type="hidden" name="invoice_id" value="{{ invoice.id }}" />
    <form id="filter_schedules_list_storage">
    </form>
    <form id="filter_reminders_list_storage">
    </form>
    {% include "pages/invoices/single/schedules/reminders/reminders/container.html" %}
    <h2 class="mb-4 text-center text-3xl">One Time</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {% include "pages/invoices/single/schedules/schedules/schedules/onetime_schedule_list.html" %}
        {% include "pages/invoices/single/schedules/schedules/schedules/onetime_schedule_create.html" %}
    </div>
{% endblock content %}
