{% extends base|default:"base/base.html" %}
{% block content %}
    <div class="card bg-base-100 p-6 mb-4">
        <div class="flex gap-3 justify-between mb-3">
            <button tabindex="0"
                    role="button"
                    class="tooltip tooltip-right btn btn-square btn-outline loading-htmx"
                    hx-post="{% url 'api:emails:refresh statuses' %}"
                    data-tip="Refresh the status of all emails. This will show you the most recent email event"
                    hx-swap="none"
                    id="sort-indicator">
                <span class="loading-htmx-text">
                    <i class="fa fa-solid fa-refresh"></i>
                </span>
                <span id="currency_save_loading"
                      class="loading loading-spinner loading-htmx-loader"></span>
            </button>
            <div class="join">
                <button class="btn btn-primary join-item"
                        onclick="modal_send_single_email.showModal();"
                        id="single_send_button"
                        hx-trigger="click once"
                        hx-swap="beforeend"
                        hx-target="#modal_container"
                        hx-get="{% url "api:base:modal retrieve" modal_name="send_single_email" %}">
                    <i class="fa-solid fa-paper-plane"></i>
                    Send Email
                </button>
                <div class="dropdown dropdown-end">
                    <label tabindex="0"
                           class="btn border-0 border-l border-base-100 btn-primary join-item">
                        <i class="fa-solid fa-caret-down"></i>
                    </label>
                    <ul class="menu menu-sm dropdown-content border border-primary">
                        <li>
                            <button onclick="modal_send_single_email.showModal();"
                                    hx-trigger="from:#single_send_button, click once"
                                    hx-swap="beforeend"
                                    hx-target="#modal_container"
                                    hx-get="{% url "api:base:modal retrieve" modal_name="send_single_email" %}">
                                <i class="fa-solid fa-user"></i> Send single email
                            </button>
                        </li>
                        <li>
                            <button onclick="modal_send_bulk_email.showModal();"
                                    hx-trigger="click once"
                                    hx-swap="beforeend"
                                    hx-target="#modal_container"
                                    hx-get="{% url "api:base:modal retrieve" modal_name="send_bulk_email" %}">
                                <i class="fa-solid fa-users"></i> Send bulk email
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {#        <div class="flex w-full h-full overflow-x-auto overflow-y-auto"></div>#}
        <div class="flex w-full h-full overflow-x-hidden overflow-y-auto mt-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sent Date</th>
                        <th>Recipient</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="table_body"
                       hx-swap="outerHTML"
                       hx-trigger="load, retry"
                       hx-get="{% url 'api:emails:fetch' %}">
                    {% include 'components/table/skeleton_rows.html' with rows=3 cols=5 %}
                </tbody>
                {#                <script>#}
                {#                    function htmx_resend(event) {#}
                {#                        let eventType;#}
                {##}
                {#                        if (event.detail.requestConfig.triggeringEvent) {#}
                {#                            eventType = event.detail.requestConfig.triggeringEvent.type#}
                {#                        } else {#}
                {#                            eventType = "retry"#}
                {#                        }#}
                {##}
                {#                        let timeout;#}
                {##}
                {#                        if (event.detail.error.startsWith("Response Status Error Code 429")) {#}
                {#                            timeout = 4000;#}
                {#                        } else {#}
                {#                            timeout = 2000;#}
                {#                        }#}
                {##}
                {#                        setTimeout(function () {#}
                {#                            console.log("Sending HTMX retry event")#}
                {#                            htmx.trigger(event.detail.elt, eventType);#}
                {#                        }, timeout);#}
                {#                    }#}
                {##}
                {#                    document.body.addEventListener("htmx:sendError", htmx_resend);#}
                {#                    document.body.addEventListener("htmx:responseError", htmx_resend);#}
                {#                </script>#}
                {# todo: sort out HTMX retry  #}
            </table>
        </div>
    </div>
{% endblock content %}
