{% extends 'core/pages/base.html' %}
{% csrf_token %}
{% block content %}
    {% include 'core/components/modal.html' with modals=modal_data %}

    <label class="btn btn-primary btn-block my-3" for="receipt-modal">
        {% include 'core/components/icon.html' with icon="receipt" classes="pe-2" %}
        Upload Receipt
    </label>
    {% include 'core/pages/receipts/_search.html' %}
    <div id="items" hx-swap="outerHTML" hx-trigger="load" hx-post="{% url 'receipts dashboard' %}">
        <div id="items">
            {% include 'core/components/table/skeleton_table.html' %}
        </div>
    </div>
{% endblock content %}