{% include 'core/partials/base/navbar/item.html' with name="Invoices" names="invoices dashboard,none" url="invoices dashboard" icon="file-invoice" %}
{% include 'core/partials/base/navbar/item.html' with name="Receipts" names="none," url="index" icon="receipt" %}
{% include 'core/partials/base/navbar/item.html' with name="Expenses" names="none," url="index" icon="money-bill" %}
{% include 'core/partials/base/navbar/item.html' with name="Reports" names="none," url="index" icon="chart-pie" %}
{% include 'core/partials/base/navbar/item.html' with name="Goals" names="none," url="index" icon="trophy" %}
{% include 'core/partials/base/navbar/item.html' with name="Tax Estimates" names="none," url="index" icon="tax" %}

