name: Deploy Release to GitHub Packages
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        db: [postgres, mysql, sqlite]
      fail-fast: false
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set version
        id: set_version
        run: |
          if [ "${{ github.event_name }}" == "push" ]; then
            echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          fi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Docker Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build, tag, and push multi-arch image to GitHub Packages
        id: build-image
        env:
          IMAGE_NAME: ghcr.io/treyww/myfinances
          IMAGE_TAG: ${{ steps.set_version.outputs.version }}
        run: |
          echo "VERSION IS: ${{ steps.set_version.outputs.version }} or $IMAGE_TAG"

          docker buildx build --platform linux/amd64,linux/arm64 \
            -f ./infrastructure/backend/Dockerfile \
            -t $IMAGE_NAME:$IMAGE_TAG-${{ matrix.db }} \
            -t $IMAGE_NAME:latest-${{ matrix.db }} \
            --build-arg DATABASE_TYPE=${{ matrix.db }} \
            . --push

          if [ "${{ matrix.db }}" = "sqlite" ]; then
              # default tags
              docker buildx build --platform linux/amd64,linux/arm64 \
                -f ./infrastructure/backend/Dockerfile \
                -t $IMAGE_NAME:$IMAGE_TAG \
                -t $IMAGE_NAME:latest \
                --build-arg DATABASE_TYPE=sqlite \
                . --push
            fi
