name: Deploy Release to ECR
on:
  #  release:
  push:
    tags:
      - 'v*'
  workflow_dispatch: # Allows me to manually call
    inputs:
      version:
        type: string
        description: Version
        required: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        db: [ postgres, mysql, sqlite ]
      fail-fast: false
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Set version
        id: set_version
        run: |
          if [ "${{ github.event_name }}" == "push" ]; then
            echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          fi

      - name: Configure AWS credentials
        id: aws-credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          #          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE_ARN }}
          aws-region: "us-east-1"
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Set up Docker Buildx
        run: |
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          docker buildx create --name multiarch-builder --use || docker buildx use multiarch-builder
          docker buildx inspect --bootstrap

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          IMAGE_NAME: "${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}"
          IMAGE_TAG: ${{ steps.set_version.outputs.version }} #${{ github.sha }}
        run: |
          echo "VERSION IS: ${{ steps.set_version.outputs.version }} or $IMAGE_TAG"

          docker buildx build --platform linux/amd64,linux/arm64 \
            -f ./infrastructure/backend/Dockerfile \
            -t $IMAGE_NAME:$IMAGE_TAG-${{ matrix.db }} \
            -t $IMAGE_NAME:latest-${{ matrix.db }} \
            --build-arg DATABASE_TYPE=${{ matrix.db }} \
            . --push

          if [ "${{ matrix.db }}" = "sqlite" ]; then
              # default tags
              docker buildx build --platform linux/amd64,linux/arm64 \
                -f ./infrastructure/backend/Dockerfile \
                -t $IMAGE_NAME:$IMAGE_TAG \
                -t $IMAGE_NAME:latest \
                --build-arg DATABASE_TYPE=sqlite \
                . --push
            fi
