name: Backend Tests

on: [push, pull_request]

env:
  DOCKER_COMPOSE_PATH: infrastructre/backend/docker-compose.ci.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Set up environment variables
        run: cp .env.github_actions .env

      - name: Copy docker compose file
        run: cp $DOCKER_COMPOSE_PATH ./docker-compose.yml   

      - name: Install Python dependencies
        uses: py-actions/py-dependency-install@v4
        with:
          path: requirements.gh_actions.txt

      - name: Build and run docker-compose.ci.yml
        run: docker-compose up -d

      - name: Run the test scripts
        run: |
          docker-compose exec -T myfinances_django ./infrastructure/backend/scripts/tests/views.sh
