<tbody id="table_body">
{% for quota in quotas %}
    <tr>
        <td>
            <button hx-trigger="click once"
                    hx-swap="beforeend"
                    hx-target="#modal_container"
                    _="on click call modal_view_quota_limit_info_{{ quota.0.id }}.showModal()"
                    hx-get="{% url "api:base:modal retrieve with context" context_type="quota" context_value=quota.0.slug modal_name="view_quota_limit_info" %}">
                {{ quota.0.name }}
            </button>
        </td>
        <td>
            {{ quota.1 }}
        </td>
        <td>
            {{ quota.0.value }}
        </td>
        <td>
            {% if quota.0.adjustable %}
                Account Level
            {% else %}
                Not adjustable
            {% endif %}
        </td>
    </tr>
{% empty %}
    <td colspan="100%" class="text-center">No Quotas Found</td>
{% endfor %}
</tbody>
